*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
::selection {
    background-color: $main-color;
    color: #fff;
}
body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.4;
    background-color: #f7f8f8;
    color: $main-color-2;
}
img,
iframe {
    max-width: 100%;
}
a {
    text-decoration: none;
    color: inherit;
    outline: 0;
    &:hover {
        color: $main-color;
    }
}
.ratio-box {
    display: block;
    position: relative;
    padding-top: 100%;
    height: 0;
    overflow: hidden;
    background-color: #f6f6f6;
    img {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        max-height: 100%;
    }
    iframe {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
// MONA CONTENT
.mona-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.3;
        margin-bottom: 0.5em;
        margin-top: 0.6em;
    }
    h1 {
        font-size: 1.7em;
    }
    h2 {
        font-size: 1.6em;
    }
    h3 {
        font-size: 1.25em;
    }
    h4 {
        font-size: 1.125em;
    }
    h5 {
        font-size: 1em;
    }
    h6 {
        font-size: 0.85em;
    }
    p {
        margin: 15px 0;
    }
    ul,
    ol {
        margin: 15px 0;
        list-style-position: inside;
    }
    ul ul,
    ul ol,
    ol ul,
    ol ol {
        margin-left: 15px;
    }
    img,
    iframe {
        max-width: 100% !important;
        height: auto;
    }
}
.table-responsive {
    max-width: 100%;
    overflow: auto;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-justify {
    text-align: justify;
}
.full-img {
    img {
        display: block;
        width: 100%;
        height: auto;
    }
}
.brightness-hover {
    position: relative;
    display: block;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(#fff, 0.3);
        transition: 0.2s;
        opacity: 0;
    }
    &:hover {
        &::after {
            opacity: 1;
        }
    }
}
.container {
    width: 1200px;
    max-width: 100%;
    padding: 0 15px;
    margin: auto;
}
.columns {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}
.column {
    padding: 15px;
}
.hamburger-btn {
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: relative;
    .bar {
        width: 24px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $main-color;
        transition: 0.2s;
        border-radius: 2px;
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            width: 24px;
            height: 2px;
            background-color: $main-color;
            transition: 0.2s;
            border-radius: 2px;
        }
        &::before {
            top: -6px;
        }
        &::after {
            top: 6px;
        }
    }
    &.active {
        .bar {
            background-color: transparent;
            &::before {
                top: 0;
                transform: rotate(45deg);
            }
            &::after {
                top: 0;
                transform: rotate(135deg);
            }
        }
    }
}
.main-btn {
    display: inline-block;
    background-color: $main-color;
    color: #fff;
    padding: 8px 40px;
    transition: 0.2s;
    outline: 0;
    border: 0;
    border-radius: 3px;
    font: inherit;
    cursor: pointer;
    font-weight: 500;
    min-width: 140px;
    text-align: center;
    .fa {
        margin-left: 5px;
    }
    &.full-btn {
        width: 100%;
    }
    &.alt {
        border: 1px solid $main-color;
        background-color: #fff;
        color: $main-color;
        &:hover {
            background-color: $main-color;
            color: #fff;
        }
    }
    &.disabled,
    &:disabled {
        &,
        &:hover {
            cursor: not-allowed;
            background-color: #d8d8d8;
            color: #9b9b9b;
        }
    }
    &:hover {
        background-color: darken($main-color, 20%);
        color: #fff;
    }
}
// <abbr class="required" title="required">*</abbr>
.f-control, .fcontrol {
    width: 100%;
    border: 1px solid #e1e1e1;
    background-color: #fff;
    padding: 0 20px;
    height: 45px;
    appearance: none;
    font: inherit;
    outline: 0;
    border-radius: 4px;
    transition: 0.2s;
    &::placeholder {
        color: rgba($text-color, 0.3);
    }
    &:disabled {
        cursor: not-allowed;
        background-color: #f8f8f8;
    }
    &:focus {
        border-color: $main-color;
    }
}
select {
    &.f-control,
    &.fcontrol {
        background: #f8f8f8 url(../images/select.png) right 15px center / 8px
            no-repeat;
        padding-right: 30px;
    }
}
textarea {
    &.f-control {
        display: block;
        height: 100px;
        padding: 12px 20px;
    }
}
.custom-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    min-height: 20px;
    input {
        display: none;
        &:hover ~ .checkmark {
            background-color: $main-color;
        }
        &:checked ~ .checkmark {
            background-color: $main-color;
            &::after {
                transform: scale(1);
                opacity: 1;
            }
        }
    }
    .checkmark {
        position: absolute !important;
        top: 1px;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
        color: #fff;
        line-height: 20px;
        text-align: center;
        transition: 0.2s;
        &::after {
            content: "✔";
            transform: scale(0);
            opacity: 0;
            transition: inherit;
        }
    }
}
.scroll-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 998;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: $main-color;
    border: 1px solid $main-color;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 15px 0 rgba(#000, 0.2);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: 0.2s;
    &.show {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    &:hover {
        background-color: #fff;
        color: $main-color;
    }
    @include max-media(768px) {
        right: 15px;
        bottom: 15px;
    }
}
.text-wrapper {
    p {
        margin: 10px 0;
    }
}
.main-slider {
    *{
        outline: none;
    }
    &:not(.slick-initialized) {
        display: flex;
        flex-wrap: wrap;
    }
    &.slick-dotted {
        margin-bottom: 30px;
        .slick-dots {
            line-height: 0;
            bottom: -30px;
            li {
                width: auto;
                height: auto;
                button {
                    padding: 0;
                    width: 8px;
                    height: 8px;
                    border-radius: 100%;
                    background-color: rgba(#fff, 0.3);
                    border: 1px solid $main-color;
                    outline: 0;
                    &::before {
                        display: none;
                    }
                }
                &.slick-active {
                    button {
                        background-color: $main-color;
                    }
                }
            }
        }
    }
    .slick-list {
        margin: -15px;
    }
    .slide-item {
        outline: 0;
        padding: 15px;
    }
    .main-slide-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 45px;
        height: 45px;
        border-radius: 100%;
        line-height: 45px;
        text-align: center;
        font-size: 16px;
        color: $main-color;
        background-color: #fff;
        transition: 0.2s;
        z-index: 2;
        cursor: pointer;
        &.prev-arrow {
            left: 30px;
        }
        &.next-arrow {
            right: 30px;
        }
        &:hover {
            background-color: $main-color;
            color: #fff;
        }
    }
    @include max-media(768px) {
        .main-slide-arrow {
            &.prev-arrow {
                left: 15px;
            }
            &.next-arrow {
                right: 15px;
            }
        }
    }
}
.mfp-fade {
    &.mfp-bg {
        opacity: 0;
        transition: all 0.15s ease-out;
        &.mfp-ready {
            opacity: 0.8;
        }
        &.mfp-removing {
            opacity: 0;
        }
    }
    &.mfp-wrap {
        .mfp-content {
            opacity: 0;
            transition: all 0.15s ease-out;
        }
        &.mfp-ready {
            .mfp-content {
                opacity: 1;
            }
        }
        &.mfp-removing {
            .mfp-content {
                opacity: 0;
            }
        }
    }
}
.mfp-zoom-in {
    .main-popup {
        opacity: 0;
        transition: all 0.2s ease-in-out;
        transform: scale(0.8);
    }
    &.mfp-bg {
        opacity: 0;
        transition: all 0.3s ease-out;
    }
    &.mfp-ready {
        .main-popup {
            opacity: 1;
            transform: scale(1);
        }
        &.mfp-bg {
            opacity: 0.8;
        }
    }
    &.mfp-removing {
        .main-popup {
            transform: scale(0.8);
            opacity: 0;
        }
        &.mfp-bg {
            opacity: 0;
        }
    }
}
.main-popup {
    position: relative;
    width: 700px;
    max-width: 100%;
    background-color: #fff;
    margin: 40px auto;
    padding: 50px;
    .mfp-close {
        color: $main-color;
        transition: 0.2s;
    }
}
.lg-outer {
    .lg-thumb-item {
        &:hover,
        &.active {
            border-color: $main-color;
        }
    }
}
.pagination {
    margin-top: 15px;
    > ul {
        list-style-type: none;
        > li {
            display: inline-block;
            > .page-numbers {
                display: block;
                border: 1px solid #e1e1e1;
                background-color: #fff;
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                transition: 0.2s;
                border-radius: 4px;
                &.current,
                &:hover {
                    color: #fff;
                    background-color: $main-color;
                }
                @include max-media(768px) {
                    width: 35px;
                    height: 35px;
                    line-height: 35px;
                }
            }
        }
    }
}
.rating-stars {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    .empty-stars,
    .filled-stars {
        text-shadow: none;
        width: 100%;
        white-space: nowrap;
    }
    .empty-stars {
        color: #e1e1e1;
    }
    .filled-stars {
        color: #f8bb15;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
    }
}
.breadcrumb {
    list-style-type: none;
    li {
        display: inline-block;
        & + li {
            &::before {
                padding: 0 15px;
                content: "/\00a0";
                @include max-media(500px) {
                    padding: 0 10px;
                }
            }
        }
    }
}
.social-nav {
    list-style-type: none;
    li {
        display: inline-block;
        a {
            display: block;
            width: 25px;
            height: 25px;
            line-height: 25px;
            text-align: center;
            transition: 0.2s;
        }
    }
}
.social-nav-2 {
    list-style-type: none;
    li {
        margin-right: 6px;
        display: inline-block;
        a {
            display: block;
            .fa {
                width: 24px;
                height: 24px;
                border-radius: 100%;
                line-height: 25px;
                text-align: center;
                color: #fff;
                &.fa-facebook {
                    background-color: #3b5998;
                }
                &.fa-twitter {
                    background-color: #55acee;
                }
                &.fa-instagram {
                    background-color: #6a453b;
                }
                &.fa-youtube-play {
                    background-color: #c4302b;
                }
            }
        }
    }
}
.languager-picker-wrapper {
    .languager-picker {
        display: inline-block;
        background-color: #f8f8f8;
        border: 1px solid #e1e1e1;
        border-radius: 30px;
        font-size: 11px;
        white-space: nowrap;
        .itm {
            display: inline-block;
            vertical-align: middle;
            width: 26px;
            height: 26px;
            line-height: 26px;
            text-align: center;
            border-radius: 100%;
            transition: 0.2s;
        }
        span.itm {
            background-color: $main-color;
            color: #fff;
        }
    }
}
.daterangepicker {
    font-family: inherit;
    .calendar-table {
        thead {
            text-transform: uppercase;
        }
        td {
            font-size: 13px;
        }
    }
    td.active,
    td.active:hover {
        background-color: $main-color;
    }
}
.sec {
    padding: 60px 0;
    @include max-media(768px) {
        padding: 40px 0;
    }
}
.grey-txt {
    color: #898989;
}
.hl-color {
    color: $main-color;
}
.open-video-popup-btn {
    display: block;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(#000, 0.4) url(../images/play.svg) center center / 60px
            no-repeat;
    }
}
.main-title-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    .main-title {
        margin-bottom: 0;
    }
    .readmore-btn {
        font-size: 15px;
    }
}
.main-title {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.4;
}
.readmore-btn {
    display: inline-block;
    font-weight: 500;
    color: $main-color;
    transition: 0.2s;
    line-height: 1.2;
    border-bottom: 1px solid $main-color;
}
.page-title-section {
    padding: 10px 0 30px;
    & + .sec {
        padding-top: 0;
    }
    &.pb-20 {
        padding-bottom: 20px;
    }
    .page-title {
        padding-bottom: 15px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #e1e1e1;
        .title {
            font-size: 32px;
            line-height: 1.2;
            font-weight: normal;
            flex: auto;
            padding-right: 30px;
        }
    }
    @include max-media(768px) {
        .page-title {
            .title {
                font-size: 28px;
            }
        }
    }
}
.fw-500 {
    font-weight: 500;
}
.fw-normal {
    font-weight: normal;
}
.sm-title {
    font-weight: 500;
    color: #898989;
}
.mb-20{
    margin-bottom: 20px;
}
.main-btn-2{
    display: inline-block;
    color: $main-color;
    .fa{
        margin-right: 5px;
    }
}