$main-color: #e84545;
$main-color-2: #53354a;
$main-color-3: #2b2e4a;
$main-color-4: #903749;
$text-color: $main-color-2;
@mixin max-media($point) {
    @media screen and (max-width: $point) {
        @content;
    }
}
@mixin min-media($point) {
    @media screen and (min-width: $point) {
        @content;
    }
}
@mixin line-clamp($line, $height: auto) {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $line;
    height: $height;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
@mixin clear-fix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}
@mixin fz18{
    font-size: 18px;
    line-height: 1.3;
}