@import url(../fonts/Roboto/font.css);
@import url(../js/slick-1.8.1/slick-theme.css);
@import url(../js/slick-1.8.1/slick.css);
@import url(../js/Magnific-Popup-master/magnific-popup.css);
@import url(../js/select2js/dist/css/select2.min.css);
@import url(../js/lightGallery-master/dist/css/lightgallery.min.css);
@import url(../js/Font-awesome-4.7.0/css/font-awesome.min.css);
@import url(../js/dropzone-master/dropzone.css);
@import url(../js/WOW-master/animate.css);
@import url(../js/tooltipster-master/dist/css/tooltipster.bundle.min.css);
@import "variables";
@import "components";
// @import "woocommerce";
.main {
    overflow: hidden;
}
.header {
    // position: fixed;
    // top: 0;
    // left: 0;
    // width: 100%;
    // z-index: 999;
    position: relative;
    padding: 15px 0 0;
    background-color: #fff;
    transition: 0.2s;
    &.fixed {
        box-shadow: 0px 3px 40px 0px rgba(0, 0, 0, 0.09);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        // padding: 15px 0 0;
        // background-color: #fff;
    }
    .container {
        display: flex;
        justify-content: space-between;
    }
    @include max-media(991px) {
        padding: 10px 0;
    }
}
.is_admin {
    .header.fixed {
        top: 32px;
    }
    @include max-media(991px) {
        .main-menu {
            top: 32px;
        }
    }
    @include max-media(768px) {
        .header.fixed {
            top: 46px;
        }
        .main-menu {
            top: 46px;
        }
    }
    @include max-media(600px) {
        .header.fixed {
            top: 0;
            .main-menu {
                top: 0;
            }
        }
    }
}
.custom-logo-link {
    display: inline-block;
    margin-right: 100px;
    width: 75px;
    flex-shrink: 0;
    transition: 0.2s;
    img {
        width: 100%;
        height: auto;
        display: block;
    }
    @include max-media(991px) {
        margin-right: 30px;
        width: 50px;
    }
}
.hd-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 940px;
    max-width: 100%;
}
.hd-user {
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    .hd-user-mess {
        font-size: 24px;
        a {
            display: inline-block;
            transition: 0.2s;
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .hd-user-login-register {
        font-size: 16px;
        margin-left: 30px;
        a {
            display: inline-block;
            color: $main-color;
            font-weight: 500;
        }
    }
    .main-btn {
        margin-left: 30px;
    }
    @include max-media(991px) {
        margin-bottom: 5px;
        .hd-user-mess {
            font-size: 20px;
            a {
                margin-right: 10px;
            }
        }
        .hd-user-login-register {
            margin-left: 15px;
        }
        .main-btn {
            margin-left: 15px;
        }
    }
    @include max-media(500px) {
        .hd-user-mess {
            font-size: 16px;
        }
        .hd-user-login-register {
            font-size: 13px;
            margin-left: 10px;
        }
        .main-btn {
            min-width: 0;
            font-size: 13px;
            padding: 5px 20px;
        }
    }
}
.hd-search-wrapper {
    width: 100%;
    @include max-media(991px) {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        display: none;
        z-index: 999;
        box-shadow: 0px 3px 40px 0px rgba(0, 0, 0, 0.09);
        padding: 10px 15px;
        background-color: #dbdbdb;
    }
}
.hd-search {
    display: flex;
    .f-group {
        width: calc(100% / 3);
        &:first-child {
            .f-control {
                border-radius: 4px 0 0 4px;
            }
        }
        &:last-child {
            width: auto;
        }
        .select2-container--default {
            .select2-selection--single {
                height: 40px;
                border-radius: 0;
                border-right: 0;
                background-color: #f8f8f8;
                &.select-area-container {
                    .select2-selection__rendered {
                        height: 40px;
                        padding: 0 20px 0 40px;
                        background: url(../images/select-area-icon.png) left
                            20px center / 9px no-repeat;
                    }
                    .select2-selection__arrow {
                        height: 40px;
                        display: none;
                    }
                }
                .select2-selection__rendered {
                    border-radius: 0;
                }
            }
        }
        .f-control {
            height: 40px;
            background-color: #f8f8f8;
            border-radius: 0;
            border-right: 0;
            &:focus {
                border-color: #e1e1e1;
            }
        }
    }
    .hd-search-btn {
        border: 1px solid #e1e1e1;
        border-radius: 0 4px 4px 0;
        width: 40px;
        height: 40px;
        background-color: #ebebeb;
        color: $main-color;
        font: inherit;
        outline: 0;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
            background-color: $main-color;
            border-color: $main-color;
            color: #ffff;
        }
    }
    @include max-media(991px) {
        .f-group {
            &:first-child {
                .f-control {
                    border-radius: 0;
                }
            }
        }
    }
    @include max-media(500px) {
        display: block;
        .f-group {
            width: 100%;
            margin-bottom: 5px;
            &:last-child {
                width: 100%;
                margin-bottom: 0;
            }
        }
        .hd-search-btn {
            width: 100%;
            border-radius: 0;
            background-color: $main-color;
            border-color: $main-color;
            color: #fff;
        }
    }
}
.mobile-btn-wrapper {
    display: none;
    align-items: center;
    @include max-media(991px) {
        display: flex;
    }
}
.show-hd-search-btn {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    color: $main-color;
    margin-left: 5px;
}
.main-menu {
    @include max-media(991px) {
        position: fixed;
        top: 0;
        left: 100%;
        width: 100vw;
        height: 100vh;
        z-index: 999;
        transition: 0.4s;
        &.active {
            left: 0;
        }
    }
}
.main-menu-nav {
    list-style-type: none;
    font-size: 15px;
    > li {
        display: inline-block;
        > a {
            display: block;
            padding: 18px 22px;
            border-bottom: 3px solid transparent;
        }
        &:hover,
        &.current-menu-item {
            > a {
                border-color: $main-color;
            }
        }
        &.dropdown {
            > a {
                position: relative;
                padding-right: 35px;
                &::after {
                    content: "\f107";
                    font-family: FontAweSome;
                    position: absolute;
                    right: 15px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .mega-menu {
                width: 1170px;
                max-width: 100%;
                top: 100%;
                left: 50%;
                position: absolute;
                background-color: #fff;
                padding: 50px 300px 50px 55px;
                background-size: 25% auto;
                background-position: right 20px bottom 20px;
                background-repeat: no-repeat;
                border-top: 1px solid #e1e1e1;
                box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.04);
                display: none;
                transform: translateX(-50%);
                list-style-type: none;
                @include clear-fix;
                li {
                    float: left;
                    width: calc(100% / 3);
                    a {
                        display: block;
                        padding: 7px 15px;
                        transition: 0.4s;
                        position: relative;
                        &::before {
                            content: "\f178";
                            font-family: FontAweSome;
                            position: absolute;
                            top: 50%;
                            left: 15px;
                            transform: translateY(-50%);
                            color: $main-color;
                            transition: inherit;
                            opacity: 0;
                        }
                        &:hover {
                            padding-left: 40px;
                            color: $main-color;
                            &::before {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            .sub-menu {
                position: absolute;
                top: 100%;
                display: none;
                list-style-type: none;
                width: 200px;
                box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.04);
                background-color: #fff;
                > li {
                    > a {
                        display: block;
                        padding: 10px 15px;
                    }
                }
            }
            &:hover {
                .mega-menu {
                    display: block;
                }
                .sub-menu {
                    display: block;
                }
            }
        }
    }
    @include max-media(991px) {
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        background-color: #fff;
        z-index: 2;
        padding: 20px 0 50px;
        overflow: auto;
        > li {
            display: block;
            > a {
                padding: 15px;
            }
            &.dropdown {
                .sub-menu {
                    position: static;
                    box-shadow: none;
                    width: 100%;
                    background-color: transparent;
                    > li {
                        > a {
                            padding: 10px 15px 10px 40px;
                        }
                    }
                }
                .mega-menu {
                    width: 100%;
                    position: static;
                    padding: 0;
                    background: none !important;
                    border-top: 0;
                    box-shadow: none;
                    transform: translateX(0);
                    @include clear-fix;
                    li {
                        float: none;
                        width: 100%;
                        a {
                            padding: 10px 15px 10px 40px;
                        }
                    }
                }
            }
        }
    }
}
.main-menu-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.6);
    display: none;
    @include max-media(991px) {
        display: block;
    }
}
.main-menu-btn {
    display: none;
    @include max-media(991px) {
        display: block;
    }
}
.footer {
    background-color: $main-color-3;
    color: #aaabb7;
    font-size: 15px;
}
.top-footer {
    padding: 50px 0 35px;
    .columns {
        justify-content: space-between;
    }
    .ft-title {
        @include fz18;
        color: #fff;
        margin-bottom: 15px;
    }
    .ft-menu {
        list-style-type: none;
        &.ft-menu-2 {
            column-count: 2;
            column-gap: 30px;
        }
        li {
            a {
                display: block;
                padding: 6px 0;
                transition: 0.2s;
            }
        }
    }
    .social-nav {
        margin-top: 15px;
        font-size: 13px;
        margin-left: -10px;
    }
    .download-app {
        a {
            display: block;
        }
    }
    @include max-media(768px) {
        .column {
            width: 100%;
        }
        .ft-title {
            margin-bottom: 10px;
        }
        .ft-menu {
            &.ft-menu-2 {
                column-count: 1;
            }
        }
    }
}
.copyright {
    padding: 25px 0;
    font-size: 13px;
    a {
        transition: 0.2s;
    }
}
span.select2-container--default {
    .select2-selection--single {
        height: 45px;
        background-color: #fff;
        outline: 0;
        border: 1px solid #e1e1e1;
        border-radius: 4px;
        .select2-selection__rendered {
            line-height: 45px;
            padding: 0 40px 0 20px;
            color: $main-color-2;
            border-radius: 4px;
        }
        .select2-selection__arrow {
            height: 45px;
            top: 0;
            right: 15px;
            background: url(../images/select.png) center center / 8px no-repeat;
            b {
                display: none;
            }
        }
    }
}
.home-page-wrapper {
    padding: 50px 0 60px;
    .left {
        width: calc(100% / 12 * 9);
        .sec {
            padding: 50px 0;
            &:first-child {
                padding-top: 0;
            }
            padding-bottom: 0;
        }
    }
    .right {
        width: calc(100% / 12 * 3);
    }
    @include max-media(991px) {
        .left {
            width: 100%;
        }
        .right {
            width: 100%;
        }
    }
    @include max-media(768px) {
        padding: 40px 0 50px;
    }
}
.most-view-catalogs {
    padding: 12px 20px 20px;
    background-color: #fff;
    border-radius: 4px;
    &-title {
        font-size: 20px;
        font-weight: normal;
        padding-bottom: 10px;
        border-bottom: 1px solid #e1e1e1;
    }
    &-nav {
        list-style-type: none;
        font-size: 15px;
        color: $main-color-4;
        padding-top: 12px;
        li {
            a {
                display: block;
                padding: 8px 20px 8px 0;
                position: relative;
                transition: 0.2s;
                &::after {
                    content: "\f105";
                    font-family: FontAweSome;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                }
            }
        }
    }
}
.category-wrapper {
    .columns {
        margin: -5px;
    }
    .column {
        padding: 5px;
        width: 25%;
        @include max-media(500px) {
            width: 50%;
        }
    }
    &.category-wrapper-2 {
        .column {
            width: calc(100% / 3);
            @include max-media(500px) {
                width: 100%;
            }
        }
    }
}
.category-item {
    transition: 0.2s;
    border-radius: 4px;
    overflow: hidden;
    .ratio-box {
        padding-top: 67%;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(#000, 0.2);
            z-index: 2;
            transition: 0.2s;
        }
    }
    .category-title {
        @include fz18;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translateY(-50%);
        padding: 10px;
        text-align: center;
        color: #fff;
        z-index: 3;
    }
    &:hover {
        box-shadow: 0px 7px 40px 0px rgba(0, 0, 0, 0.22);
        .ratio-box {
            &::after {
                background-color: rgba($main-color, 0.8);
            }
        }
    }
}
.sort-post-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    .get-the-last-news {
        font-size: 14px;
        .checkmark {
            margin-right: 0;
            margin-left: 8px;
            background-color: #e1e1e1;
        }
    }
}
.post-wrapper {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    .post-wrapper-top {
        padding: 15px 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #e1e1e1;
    }
    .post-wrapper-bottom {
        border-top: 1px solid #e1e1e1;
        padding: 15px 20px;
        text-align: right;
    }
}
.get-the-last-news {
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
    input {
        display: none;
        &:checked + .checkmark {
            &::before {
                left: 18px;
            }
        }
    }
    .checkmark {
        display: inline-block;
        width: 42px;
        height: 25px;
        background-color: #f8f8f8;
        border: 1px solid #e1e1e1;
        border-radius: 30px;
        position: relative;
        margin-right: 8px;
        flex-shrink: 0;
        &::before {
            content: "";
            width: 21px;
            height: 21px;
            background-color: $main-color;
            border-radius: 100%;
            position: absolute;
            top: 1px;
            left: 1px;
            transition: 0.2s;
        }
    }
    @include max-media(430px) {
        display: 100%;
        margin-bottom: 10px;
    }
}
.post-item {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    position: relative;
    overflow: hidden;
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 20px;
        right: 20px;
        border-bottom: 1px solid #e1e1e1;
    }
    &:last-child {
        &::before {
            display: none;
        }
    }
    &.post-item-highlight {
        background-color: #fff4cc;
        &::before {
            border-bottom-color: transparent;
        }
    }
    &.post-item-gap {
        &::after {
            content: "URGENT";
            position: absolute;
            top: 0;
            left: 0;
            width: 170px;
            padding: 10px;
            background-color: #f2c21a;
            color: #fff;
            font-size: 16px;
            text-align: center;
            transform: rotate(-45deg);
            transform-origin: 50% 200%;
        }
    }
    .post-img {
        width: 30%;
        border-radius: 4px;
        overflow: hidden;
        .ratio-box {
            padding-top: 66%;
        }
    }
    .post-info {
        width: 52%;
        padding: 0 30px;
        .post-title {
            @include fz18;
            font-weight: normal;
            margin-bottom: 8px;
            transition: 0.2s;
            a {
                transition: inherit;
            }
        }
        .post-tag {
            font-size: 12px;
            font-weight: 500;
            border-radius: 4px;
            padding: 4px 13px;
            background-color: #f2c21a;
            color: #fff;
            margin-right: 10px;
        }
        .post-time {
            font-size: 13px;
            display: inline-block;
            span {
                display: inline-block;
                padding: 0 8px;
                border-left: 1px solid #e1e1e1;
                &:first-child {
                    padding-left: 0;
                    border-left: 0;
                }
            }
        }
        .post-desc {
            font-size: 15px;
            margin-bottom: 5px;
            margin-top: 8px;
        }
    }
    .post-price {
        width: 18%;
        text-align: right;
        .title {
            font-size: 13px;
            font-weight: 500;
        }
        .price {
            font-size: 28px;
            line-height: 1.2;
            color: $main-color;
        }
        .salary {
            font-size: 20px;
            line-height: 1.2;
            color: $main-color;
        }
    }
    @include max-media(500px) {
        .post-img {
            width: 100%;
        }
        .post-info {
            width: 100%;
            padding: 15px 0;
        }
        .post-price {
            width: 100%;
            .price {
                font-size: 24px;
            }
        }
    }
}
.post-wrapper-2 {
    @include min-media(501px) {
        .post-item {
            .post-img {
                width: 32%;
            }
            .post-info {
                width: 48%;
                padding: 0 15px;
            }
            .post-price {
                width: 20%;
            }
        }
    }
}
.register-post-content {
    background-size: cover;
    background-position: center center;
    padding: 35px 100px 45px;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    .desc {
        color: #b5b5bc;
        font-size: 15px;
        margin-bottom: 25px;
    }
    .main-btn {
        font-size: 16px;
    }
    @include max-media(500px) {
        padding: 30px;
    }
}
.breadcrumb-section {
    padding: 20px 0;
}
.contact-info-wrapper {
    margin-bottom: 35px;
    .column {
        width: 25%;
        padding-left: 85px;
        &:nth-child(1) {
            width: 50%;
            padding-left: 15px;
        }
    }
    @include max-media(768px) {
        .column {
            width: 50%;
            padding-left: 15px;
            &:nth-child(1) {
                width: 100%;
            }
        }
    }
    @include max-media(500px) {
        .column {
            width: 100%;
        }
    }
}
.contact-info-item {
    .contact-info-title {
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 14px;
    }
    .contact-info-content {
        line-height: 1.6;
    }
}
.contact-form-wrapper {
    width: 50%;
    .main-title {
        margin-bottom: 10px;
    }
    @include max-media(768px) {
        width: 100%;
    }
}
.contact-form {
    @include clear-fix;
    margin: -5px;
    .f-group {
        padding: 5px;
        width: 100%;
        float: left;
        &:nth-child(2),
        &:nth-child(3) {
            width: 50%;
        }
        .main-btn {
            float: right;
            height: 40px;
        }
    }
    @include max-media(500px) {
        .f-group {
            &:nth-child(2),
            &:nth-child(3) {
                width: 100%;
            }
        }
    }
}
.share-wrapper {
    display: inline-flex;
    align-items: center;
    .share-title {
        display: inline-block;
        margin-right: 20px;
    }
    @include max-media(320px) {
        margin-top: 10px;
    }
}
.counter-results {
    color: #adaeae;
    font-size: 18px;
    line-height: 1.3;
    @include max-media(768px) {
        font-size: 16px;
    }
}
.nha-ban-section {
    .columns {
        margin: -15px -7px;
    }
    .column {
        padding: 15px 7px;
    }
    .left {
        width: 27%;
        padding-top: 80px;
    }
    .right {
        width: 73%;
    }
    @include max-media(768px) {
        .left {
            width: 100%;
            padding-top: 15px;
        }
        .right {
            width: 100%;
        }
    }
}
.sidebar-filter-wrapper {
    margin-bottom: 15px;
}
.show-sidebar-filter-btn {
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    background-color: #fff;
    padding: 10px 40px 10px 20px;
    margin-bottom: 10px;
    font-weight: 500;
    display: none;
    position: relative;
    &::after {
        content: "\f107";
        font-family: FontAweSome;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        color: $main-color;
    }
    .fa {
        margin-right: 8px;
    }
    &.active {
        background-color: $main-color;
        border-color: $main-color;
        color: #fff;
        &::after {
            content: "\f106";
            color: #fff;
        }
    }
    @include max-media(768px) {
        display: block;
    }
}
.sidebar-filter {
    border: 1px solid #e1e1e1;
    background-color: #fff;
    &-head {
        border-bottom: 1px solid #e1e1e1;
        padding: 15px 20px;
        .title {
            font-size: 16px;
            font-weight: 500;
        }
    }
    &-body {
        padding: 15px 20px;
    }
    @include max-media(768px) {
        display: none;
    }
}
.filter-item {
    padding: 15px 0;
    border-top: 1px solid #e1e1e1;
    &:first-child {
        padding-top: 0;
        border-top: 0;
    }
    .filter-title {
        color: #898989;
        padding: 10px 20px;
        font-weight: 500;
    }
    .filter-content {
        .filter-label {
            display: block;
            cursor: pointer;
            margin-bottom: 5px;
            input {
                display: none;
                &:checked + .checkmark {
                    border-color: #ddd7db;
                    background-color: #f8f8f8;
                    font-weight: 500;
                    &::after {
                        display: block;
                    }
                }
            }
            .checkmark {
                padding: 8px 50px 8px 20px;
                display: block;
                border: 1px solid transparent;
                border-radius: 4px;
                position: relative;
                &::after {
                    content: "\f057";
                    font-family: FontAweSome;
                    position: absolute;
                    top: 50%;
                    right: 15px;
                    transform: translateY(-50%);
                    display: none;
                }
            }
        }
    }
}
.currency-range {
    &-picker {
        display: flex;
        align-items: center;
        padding-bottom: 15px;
        .f-control {
            width: 70px;
            height: 37px;
            background-color: #f8f8f8;
            padding: 0 10px;
            text-align: center;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            &[type="number"] {
                -moz-appearance: textfield;
            }
        }
        .space {
            padding: 0 8px;
        }
        .main-btn {
            background-color: #3cb878;
            color: #fff;
            padding: 9px 13px;
            margin-left: 8px;
            min-width: 0;
            font-style: 14px;
            &:hover {
                background-color: darken(#3cb878, 20%);
            }
        }
    }
}
.sidebar-upload-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e1e1e1;
    background-color: #ffffff;
    padding: 20px;
    .title {
        margin-right: 10px;
    }
    .main-btn {
        min-width: 0;
        padding: 8px 20px;
        font-weight: normal;
    }
}
.sort-post {
    position: relative;
    > .title {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
    }
    > .f-control {
        padding-left: 75px;
        padding-right: 45px;
        font-weight: 500;
        background: #ffff url(../images/select-2.png) right 20px center / 9px
            no-repeat;
    }
}
.nha-ban-detail-price {
    font-size: 32px;
    line-height: 1.2;
    color: $main-color;
    @include max-media(768px) {
        font-size: 28px;
    }
}
.nha-ban-detail-section {
    padding-bottom: 30px;
    .columns {
        margin: -15px -8px;
        display: block;
        @include clear-fix;
    }
    .column {
        padding: 15px 8px;
    }
    .left {
        width: 73%;
        float: left;
    }
    .right {
        width: 27%;
        float: right;
    }
    @include max-media(768px) {
        .left {
            width: 100%;
            float: none;
        }
        .right {
            width: 100%;
            float: none;
        }
    }
}
.product-detail-slider-wrapper {
    display: flex;
    .product-detail-slider {
        width: 76.6%;
        padding-right: 14px;
        .slick-list {
            margin: 0 -5px;
        }
        .slide-item {
            padding: 0 5px;
            .box-img {
                border-radius: 4px;
                overflow: hidden;
                img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
    .product-detail-slider-nav {
        width: 23.4%;
        .slick-list {
            margin: -7px 0;
        }
        .slide-item {
            padding: 7px 0;
            cursor: pointer;
            .box-img {
                opacity: 0.7;
                border-radius: 4px;
                overflow: hidden;
                img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }
            &.slick-current {
                .box-img {
                    opacity: 1;
                }
            }
        }
    }
    @include max-media(500px) {
        display: block;
        .product-detail-slider {
            width: 100%;
            padding-right: 0;
            margin-bottom: 8px;
        }
        .product-detail-slider-nav {
            width: 100%;
            .slick-list {
                margin: 0 -5px;
            }
            .slide-item {
                padding: 0 5px;
            }
        }
    }
}
.product-detail-utilities {
    padding: 22px 0;
    column-count: 2;
    column-gap: 30px;
    border-bottom: 1px solid #e1e1e1;
    width: 800px;
    max-width: 100%;
    &.pt-0 {
        padding-top: 0;
    }
    p {
        padding: 3px 0;
    }
    @include max-media(430px) {
        column-count: 1;
    }
}
.product-detail-desc {
    padding: 20px 0 0;
    .text-wrapper {
        font-size: 16px;
    }
    @include max-media(768px) {
        .text-wrapper {
            font-size: 14px;
        }
    }
}
.seen-post-section {
    padding: 30px 0 60px;
    position: relative;
    .main-title {
        margin-bottom: 25px;
        font-size: 16px;
        font-weight: 500;
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 1170px;
        max-width: calc(100% - 30px);
        border-top: 1px solid #e1e1e1;
    }
    @include max-media(768px) {
        padding: 30px 0 40px;
        .main-title {
            margin-bottom: 15px;
        }
    }
}
.seen-post-wrapper {
    .columns {
        margin: -8px;
    }
    .column {
        width: 25%;
        padding: 8px;
    }
    @include max-media(991px) {
        .column {
            width: 50%;
        }
    }
    @include max-media(500px) {
        .column {
            width: 100%;
        }
    }
}
.seen-post-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 20px 20px 15px;
    border: 1px solid #e1e1e1;
    background-color: #fff;
    position: relative;
    border-radius: 4px;
    .seen-post-img {
        width: 44%;
        border-radius: 4px;
        overflow: hidden;
        .ratio-box {
            padding-top: 66%;
        }
    }
    .seen-post-info {
        width: 56%;
        padding-left: 11px;
        .seen-post-title {
            font-weight: normal;
            margin-bottom: 5px;
            line-height: 1.3;
            @include line-clamp(3);
            a {
                transition: 0.2s;
            }
        }
        .seen-post-price {
            color: $main-color;
        }
        .seen-post-clear-btn {
            color: #898989;
            position: absolute;
            top: 14px;
            right: 10px;
            cursor: pointer;
        }
    }
}
.product-detail-location {
    position: relative;
    padding-left: 40px;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 25px;
    .post-time {
        color: #898989;
    }
    &::before {
        content: url(../images/location-icon.png);
        position: absolute;
        left: 0;
        top: 3px;
    }
}
.product-detail-author {
    .author-info {
        padding: 30px 0;
        display: flex;
        align-items: center;
        .avatar {
            width: 40px;
            flex-shrink: 0;
            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }
        .info {
            padding-left: 15px;
            .name {
                font-weight: 500;
            }
        }
    }
}
.mess-to-author-wrapper {
    border: 1px solid #e1e1e1;
    background-color: #fff;
    padding: 25px 20px;
    border-radius: 4px;
    .title {
        @include fz18;
        margin-bottom: 12px;
    }
    .mess-to-author-form {
        margin-bottom: 20px;
        .f-control {
            margin-bottom: 20px;
        }
        .main-btn {
            height: 45px;
        }
    }
    .term {
        font-size: 12px;
    }
}
.dropzone-wrapper {
    margin-bottom: 20px;
    .dropzone {
        border: 1px solid #e1e1e1;
        min-height: 100px;
        border-radius: 4px;
        position: relative;
        .dz-message {
            background-image: url(../images/dropzone.png);
            background-position: center center;
            background-size: auto;
            background-repeat: no-repeat;
            margin: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .dz-preview {
            .dz-remove {
                position: absolute;
                top: 5px;
                right: 5px;
                z-index: 999;
                width: 20px;
                height: 20px;
                text-align: center;
                line-height: 20px;
                background-color: #252525;
                color: #fff;
                border-radius: 100%;
                transition: 0.2s;
                font-size: 0;
                cursor: pointer;
                text-decoration: none;
                &::after {
                    content: "\f00d";
                    font-size: 14px;
                    font-family: FontAweSome;
                }
            }
        }
    }
}
.about-us-section {
    .left {
        width: calc(100% / 12 * 3);
    }
    .right {
        width: calc(100% / 12 * 9);
    }
    @include max-media(768px) {
        .left {
            width: 100%;
        }
        .right {
            width: 100%;
        }
    }
}
.about-company {
    font-size: 16px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e1e1e1;
    > img {
        margin-bottom: 25px;
    }
    @include max-media(768px) {
        font-style: 14px;
        padding-bottom: 20px;
    }
}
.direct-nav {
    list-style-type: none;
    padding-top: 30px;
    font-size: 18px;
    li {
        a {
            display: block;
            transition: 0.2s;
            padding: 4px 0;
            position: relative;
            &:after {
                content: "\f178";
                font-family: FontAweSome;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                opacity: 0;
            }
        }
        &.active {
            a {
                padding-left: 30px;
                color: $main-color;
                font-weight: 500;
                &::after {
                    opacity: 1;
                }
            }
        }
    }
    @include max-media(768px) {
        padding-top: 20px;
        font-size: 16px;
    }
}
.partner-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    li {
        width: 174px;
        max-width: 50%;
        padding: 25px 20px;
        img {
            display: block;
            margin: auto;
        }
    }
    @include max-media(768px) {
        li {
            padding: 20px 10px;
        }
    }
}
.mona-content {
    &.lg-mona-content {
        font-weight: 300;
        font-size: 24px;
        p {
            margin: 25px 0;
        }
        @include max-media(991px) {
            font-size: 20px;
            p {
                margin: 15px 0;
            }
        }
        @include max-media(768px) {
            font-size: 16px;
        }
    }
}
.filter-content {
    max-height: 400px;
    overflow: auto;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
        background: #888;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}
.show-more-filter-btn {
    color: $main-color;
    font-weight: 500;
    display: inline-block;
    cursor: pointer;
    padding: 8px 20px;
    &::after {
        content: "\f107";
        font-family: FontAweSome;
        margin-left: 8px;
        vertical-align: middle;
    }
}
// DANGTIN
.dang-tin-section {
    font-size: 16px;
    @include max-media(768px) {
        font-size: 14px;
    }
}
.dang-tin-wrapper {
    padding: 50px 0;
    width: 500px;
    max-width: 100%;
    margin: auto;
    font-size: 16px;
}
.select-title-form {
    .f-group {
        position: relative;
        margin-bottom: 10px;
        .f-control {
            height: 80px;
            padding-bottom: 30px;
        }
        label {
            margin-bottom: 5px;
            font-weight: 500;
            display: inline-block;
        }
        .key-counter {
            position: absolute;
            padding: 10px;
            bottom: 0;
            right: 0;
        }
    }
}
.select-category {
    margin-top: 30px;
    padding-top: 30px;
    display: none;
    border-top: 1px solid #e1e1e1;
}
.select-category-nav {
    list-style-type: none;
    li {
        & + li {
            margin-top: -1px;
        }
        label {
            display: block;
            padding: 15px 20px;
            background-color: #fff;
            position: relative;
            border: 1px solid #e1e1e1;
            cursor: pointer;
            position: relative;
            &::after {
                content: "\f105";
                font-family: FontAweSome;
                position: absolute;
                top: 50%;
                right: 10px;
                width: 25px;
                height: 25px;
                text-align: center;
                line-height: 25px;
                transform: translateY(-50%);
                font-size: 20px;
            }
            &.have-sub {
                &::after {
                    content: "×";
                    display: none;
                    font-family: inherit;
                }
                &.show-sub {
                    &::after {
                        display: block;
                    }
                }
            }
            input {
                display: none;
            }
            .close-btn {
                position: absolute;
                top: 50%;
                right: 10px;
                width: 25px;
                height: 25px;
                text-align: center;
                line-height: 25px;
                transform: translateY(-50%);
                font-size: 20px;
                pointer-events: auto;
            }
        }
    }
    .sub-menu {
        margin-top: 15px;
        list-style-type: none;
        display: none;
    }
}
.dang-tin-detail-wrapper {
    counter-reset: section;
}
.dang-tin-detail-box {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0;
    }
    &-title {
        margin-bottom: 30px;
        padding-bottom: 15px;
        border-bottom: 1px solid #e1e1e1;
        font-size: 16px;
        &::before {
            counter-increment: section;
            content: counter(section);
            width: 22px;
            height: 22px;
            border-radius: 100%;
            line-height: 22px;
            text-align: center;
            background-color: $main-color;
            color: #fff;
            margin-right: 8px;
            display: inline-block;
        }
    }
    @include max-media(768px) {
        padding: 20px;
        margin-bottom: 20px;
    }
}
.dang-tin-detail-box-content {
    .image-content {
        width: 500px;
        max-width: 100%;
        margin-bottom: 20px;
    }
    .upload-images {
        padding: 20px;
        background-color: #eeedee;
        margin-bottom: 20px;
        .dropzone {
            border: 1.2px dashed #bebebe;
            color: #979797;
            background-color: transparent;
            min-height: 270px;
            .dz-message {
                margin: 38px 0;
                h3 {
                    display: block;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 1.4;
                    margin: 15px 0;
                }
            }
            .dz-preview {
                .dz-remove {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    z-index: 999;
                    width: 20px;
                    height: 20px;
                    text-align: center;
                    line-height: 20px;
                    background-color: #252525;
                    color: #fff;
                    border-radius: 100%;
                    transition: 0.2s;
                    font-size: 0;
                    cursor: pointer;
                    text-decoration: none;
                    &::after {
                        content: "\f00d";
                        font-size: 14px;
                        font-family: FontAweSome;
                    }
                }
            }
        }
    }
    > .map {
        padding-top: 50%;
    }
    .box {
        display: flex;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
        > label {
            width: 200px;
            display: inline-block;
            flex-shrink: 0;
            text-align: right;
            padding: 5px 20px 5px 0;
            font-weight: 500;
        }
        > .f-group {
            padding: 5px 0;
            width: 65%;
            > #price-input {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
            }
            > .custom-checkbox {
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            > .desc {
                font-size: 14px;
                margin: 5px 0;
            }
            #website-url-input {
                display: none;
            }
            #tag-input {
                display: flex;
                .main-btn {
                    margin-left: 10px;
                    height: 45px;
                    line-height: 45px;
                    padding: 0 40px;
                }
                @include max-media(768px) {
                    display: block;
                    .main-btn {
                        margin-top: 10px;
                        margin-left: 0;
                        width: 100%;
                    }
                }
            }
            #tag-list {
                list-style-type: none;
                margin-top: 10px;
                li {
                    display: inline-block;
                    margin: 0 4px 4px 0;
                    border-radius: 4px;
                    background-color: #e1e1e1;
                    padding: 8px 20px;
                }
                &:empty {
                    display: none;
                }
            }
        }
        @include max-media(768px) {
            display: block;
            margin-bottom: 10px;
            > label {
                text-align: left;
                width: 100%;
            }
            > .f-group {
                width: 100%;
            }
        }
    }
}
.promote-my-ad {
    .left {
        width: 100%;
        // border-right: 1px solid #e1e1e1;
    }
    .right {
        width: calc(100% / 12 * 4);
    }
    .total-price {
        text-align: right;
        .price {
            color: $main-color;
            font-weight: 500;
        }
    }
    @include max-media(768px) {
        .left {
            width: 100%;
            // border-right: 0;
            // order: 2;
        }
        .right {
            width: 100%;
        }
    }
}
.add-ad-to-slider {
    padding: 0 50px 30px;
    .main-slide-arrow {
        &.prev-arrow {
            left: 15px;
        }
        &.next-arrow {
            right: 15px;
        }
    }
    @include max-media(768px) {
        padding: 0 40px 15px;
    }
}
.add-ad-to-note {
    font-size: 13px;
}
.add-ad-to-item {
    .add-ad-to-img {
        width: 100px;
        max-width: 100%;
        margin: 0 auto 20px;
        img {
            display: block;
            width: 100%;
            height: auto;
        }
        @include max-media(768px) {
            margin: 0 auto 10px;
        }
    }
    .add-ad-to-info {
        text-align: center;
        .add-ad-to-title {
            font-size: 16px;
            margin-bottom: 10px;
        }
        .main-btn {
            min-width: 160px;
            &.active {
                background-color: #37a864;
                color: #fff;
            }
        }
    }
}
.add-ad-to-table {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e1e1e1;
    @include max-media(500px) {
        overflow-x: auto;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        min-width: 400px;
        td {
            padding: 10px;
            text-align: right;
            &:first-child {
                width: 60%;
                text-align: left;
            }
        }
    }
    .custom-checkbox {
        .checkmark {
            top: 50%;
            transform: translateY(-50%);
        }
        .tt {
            display: flex;
            align-items: center;
            font-weight: 500;
            img {
                width: 50px;
                display: block;
                margin-right: 10px;
            }
            .fa {
                margin-left: 5px;
            }
        }
    }
    select.f-control {
        width: 120px;
    }
    .price {
        color: $main-color;
        font-weight: 500;
    }
}
.post-your-ad {
    .post-your-ad-policy {
        margin-bottom: 10px;
    }
}
#mona-login-form,
#mona-register-popup {
    width: 500px;
    max-width: 100%;
    margin-bottom: 30px;
    .frow {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .foget-pass-link {
        margin-top: 10px;
    }
}
.checklb {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    min-height: 20px;
    input {
        display: none;
        &:hover ~ .ip-avata {
            background-color: $main-color;
        }
        &:checked ~ .ip-avata {
            background-color: $main-color;
            &::after {
                transform: scale(1);
                opacity: 1;
            }
        }
    }
    .ip-avata {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
        &::after {
            content: "✔";
            transform: scale(0);
            opacity: 0;
            transition: inherit;
        }
    }
}
.mona-logout-action {
    &::before {
        content: "-";
        margin: 0 10px 0 6px;
    }
}
.pick-your-plan-wrapper {
    margin-bottom: 45px;
    .columns {
        justify-content: center;
    }
    .column {
        position: relative;
        padding-top: 60px;
        flex: 1;
        @include max-media(991px) {
            flex: unset;
            width: 50%;
        }
        @include max-media(768px) {
            width: 100%;
            padding-top: 15px;
        }
    }
    .most-popular {
        padding: 15px 20px;
        background-color: #e0e0e0;
        border-radius: 4px 4px 0 0;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        position: absolute;
        bottom: calc(100% - 60px);
        left: 15px;
        right: 15px;
        @include max-media(768px) {
            position: static;
        }
    }
}
.pick-your-plan-item {
    text-align: center;
    background-color: #f1f1f1;
    position: relative;
    padding: 40px 30px 100px;
    height: 100%;
    border-top: 5px solid;
    border-radius: 4px;
    .column:nth-child(4n + 1) & {
        border-top-color: #f8aa17;
        .most-popular {
            border-bottom-color: #f8aa17;
        }
    }
    .column:nth-child(4n + 2) & {
        border-top-color: #2681db;
        .most-popular {
            border-bottom-color: #2681db;
        }
    }
    .column:nth-child(4n + 3) & {
        border-top-color: #373373;
        .most-popular {
            border-bottom-color: #373373;
        }
    }
    .column:nth-child(4n + 4) & {
        border-top-color: $main-color;
        .most-popular {
            border-bottom-color: $main-color;
        }
    }
    .most-popular + & {
        border-radius: 0 0 4px 4px;
        box-shadow: 0 5px 30px 2px rgba(0, 0, 0, 0.2);
    }
    .head {
        min-height: 240px;
        position: relative;
        margin-bottom: 40px;
        padding-bottom: 100px;
        .title {
            font-weight: 600;
            font-size: 24px;
            margin-bottom: 10px;
            line-height: 1.2;
        }
        .sub-title {
            color: #8e909b;
            font-size: 18px;
            font-weight: normal;
            margin-bottom: 20px;
        }
        .price {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            .price-from {
                margin-bottom: 5px;
            }
            .price-detail {
                display: inline-block;
                padding: 5px 15px;
                font-weight: 500;
                font-size: 14px;
                background-color: #daefdf;
                color: #215934;
                border-radius: 4px;
            }
        }
    }
    .nav {
        list-style-type: none;
        text-align: left;
        li {
            padding: 8px 0 8px 20px;
            position: relative;
            border-bottom: 1px solid #e1e1e1;
            &::before {
                content: "✔";
                position: absolute;
                top: 5px;
                left: 0;
                color: #37a864;
            }
        }
    }
    .btn {
        display: block;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        left: 30px;
        right: 30px;
        bottom: 30px;
        input {
            display: none;
            &:checked ~ .checkmark {
                background-color: #fff;
                color: $main-color;
                &::after {
                    content: "Selected";
                }
                &::before {
                    opacity: 1;
                }
            }
        }
        .checkmark {
            width: 100%;
            height: 40px;
            border-radius: 4px;
            background-color: $main-color;
            border: 1px solid $main-color;
            color: #fff;
            display: block;
            line-height: 40px;
            text-align: center;
            &::after {
                content: "Select";
            }
            &::before {
                content: "✔";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 20px;
                opacity: 0;
            }
        }
    }
    @include max-media(768px) {
        height: auto;
        .head {
            min-height: 0;
            padding-bottom: 0;
            .desc {
                margin-bottom: 20px;
                font-size: 15px;
            }
            .price {
                position: static;
                font-size: 15px;
            }
        }
    }
}
@media screen and (min-width: 992px) {
    .header.fixed {
        padding: 0;
    }
    .header.fixed .container {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .header.fixed .custom-logo-link {
        width: 50px;
        padding: 10px 0;
    }
    .header.fixed .hd-right .hd-user {
        display: none;
    }
    .header.fixed .hd-right .hd-search-wrapper {
        display: none;
    }
    .header.fixed .main-menu-nav li a {
        padding: 30px 22px;
    }
    .header.fixed .main-menu-nav li.dropdown a {
        padding-right: 35px;
    }
}
/* home page: add style for highlight list  */
.post-wrapper .post-list {
    padding: 0px 15px;
    padding-top: 15px;
}
.post-wrapper .post-list .post-item.post-item-highlight {
    margin-bottom: 15px;
}
.post-item.post-item-highlight {
    background-color: #fff4cc;
    border: solid 2px #f2c21a;
}
.post-wrapper + hr {
    margin: 15px 0;
}

.profile-lipstick{
    .left{
        > h3{
            font-size: 20px;
            font-weight: normal;
            margin-bottom: 10px;
        }
    }
}
.contact-form{
    .f-group{
        > label{
            display: block;
        }
    }
}
.info-item{
    .contact-form{
        margin: -10px;
    }
}
.dropzone{
    border: 1.5px dashed #e1e1e1;
    .dz-message{
        > h3{
            font-size: 12px;
        }
    }
}
.category-wrapper{
    .main-slider{
        margin: 0;
        &.slick-dotted{
            margin-bottom: 60px;
        }
        .slick-list{
            margin: -5px;
        }
        .column-4{
            padding: 5px;
        }
    }
}
.tab-filter-wrapper{
    margin-bottom: 30px;
    position: relative;
    padding: 0 280px;
    .tab-link-nav{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        li{
            padding: 11.5px 30px;
            background-color: #fff;
            border: 1px solid #e1e1e1;
            position: relative;
            & + li{
                border-left: 0;
            }
            cursor: pointer;
            > span{
                display: inline-block;
                width: 20px;
                height: 20px;
                text-align: center;
                line-height: 20px;
                border-radius: 100%;
                background-color: #ececee;
                margin-left: 10px;
            }
            &::before{
                content: '';
                position: absolute;
                left: 0;
                bottom: -1px;
                width: 100%;
                border-bottom: 3px solid $main-color;
                opacity: 0;
            }
            &.current{
                &::before{
                    opacity: 1;
                }
            }
        }
    }
    .tab-search{
        position: absolute;
        top: 0;
        left: 0;
        width: 265px;
        .f-control {
            padding-right: 50px;
        }
        .btn {
            background: none;
            appearance: none;
            outline: 0;
            border-radius: 0;
            border: 0;
            cursor: pointer;
            font: inherit;
            width: 45px;
            height: 45px;
            text-align: center;
            line-height: 45px;
            position: absolute;
            top: 0;
            right: 0;
            &:hover {
                color: $main-color;
            }
        }
    }
    @include max-media(768px){
        padding: 0;
        .tab-link-nav{
            width: 100%;
            li{
                width: 50%;
            }
        }
        .tab-search{
            width: 100%;
            margin-top: 15px;
            position: relative;
            top: unset;
            left: unset;
        }
    }
}
.my-account-section{
    .left{
        width: calc(100% / 12 * 3);
    }
    .right{
        width: calc(100% / 12 * 9);
    }
    @include max-media(768px){
        .left{
            width: 100%;
        }
        .right{
            width: 100%;
        }
    }
}
.account-sidebar{
    text-align: center;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    &-head{
        height: 64px;
        background-color: $main-color;
        border-radius: 4px 4px 0 0;
        position: relative;
        .account-avatar{
            width: 72px;
            height: 72px;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, 50%);
            border-radius: 100%;
            overflow: hidden;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
    &-body{
        padding: 50px 0 15px;
        background-color: #fff;
        border: 1px solid #e1e1e1;
        border-top: 0;
        border-radius: 0 0 4px 4px;
        .account-title{
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 5px;
        }
        .edit-account-btn{
            display: inline-block;
            color: #2681db;
            .fa{
                margin-right: 5px;
            }
        }
        .account-info{
            padding: 0 15px 15px;
        }
        .account-info-nav{
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            li{
                width: calc(100% / 3);
                border-right: 1px solid #eee;
                padding: 0 14px;
                &:last-child{
                    border-right: 0;
                }
                .content{
                    font-size: 16px;
                }
                .title{
                    font-size: 13px;
                }
            }
        }
    }
}
.my-account-nav-wrapper{
    padding: 15px 0;
    background-color: #fff;
    border-top: 1px solid #ececee;
    box-shadow: 0 2px 5px rgba(0,0,0,.05);
    .container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .account-setting-btn{
        padding: 5px 15px;
    }
}
.my-account-nav{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    li{
        border-right: 1px solid #ececee;
        &:last-child{
            border-right: 0;
        }
        a{
            display: block;
            padding: 5px 15px;
        }
        &.active{
            a{
                color: $main-color;
            }
        }
    }
    @include max-media(768px){
        width: 100%;
        border-bottom: 1px solid #e1e1e1;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    @include max-media(500px){
        li{
            width: calc(100% / 3);
        }
    }
    @include max-media(375px){
        li{
            width: 50%;
        }
    }
}
.my-ads-item{
    padding: 30px;
    padding-left: 185px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    border-bottom: 1px solid #e1e1e1;
    position: relative;
    .my-ads-img{
        width: 140px;
        position: absolute;
        top: 30px;
        left: 30px;
        a{
            display: block;
            img{
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }
    @include max-media(768px){
        padding: 20px;
        .my-ads-img{
            position: static;
        }
    }
    @include max-media(430px){
        .my-ads-img{
            width: 100%;
        }
    }
}
.my-ads-head{
    padding: 10px 30px;
    padding-left: 185px;
    display: flex;
    .my-ads-info-nav{
        .title{
            font-size: initial;
            font-weight: inherit;
            color: inherit;
        }
        .price{
            font-weight: inherit;
            color: inherit;
        }
    }
    @include max-media(991px){
        display: none;
    }
}
.my-ads-info-nav{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    li{
        padding: 5px;
        > .fa{
            margin-right: 5px;
            display: none;
            @include max-media(991px){
                display: inline-block;
            }
        }
    }
    .title{
        font-size: 18px;
        font-weight: 500;
        color: $main-color;
        width: 60%;
        line-height: 1.2;
    }
    .price{
        color: #37a864;
        font-weight: 600;
        max-width: 100px;
        width: 40%;
    }
    .expires{
        width: 25%;
        .date-1{
            font-size: 16px;
            font-weight: 600;
        }
        .date-2{
            color: #8e909b;
        }
    }
    .views, .replies, .page{
        width: 15%;
        text-align: center;
    }
    .button{
        width: 30%;
        text-align: right;
        .main-btn{
            padding: 8px 15px;
        }
    }
    @include max-media(991px){
        .title{
            width: auto;
            padding-right: 30px;
        }
        .price{
            width: auto;
        }
    }
    @include max-media(768px){
        .title{
            width: 100%;
        }
        .price{
            width: 100%;
        }
    }
    @include max-media(500px){
        .expires{
            width: 50%;
        }
        .views, .replies, .page{
            width: 50%;
            text-align: left;
        }
        .button{
            width: 100%;
            text-align: left;
        }
    }
}
.my-ads-info-nav-1{
    width: 40%;
    @include max-media(991px){
        width: 100%;
    }
    @include max-media(768px){
        width: calc(100% - 140px);
        padding-left: 15px;
    }
    @include max-media(430px){
        width: 100%;
        padding-top: 10px;
        padding-left: 0;
    }
}
.my-ads-info-nav-2{
    width: 60%;
    justify-content: flex-end;
    @include max-media(991px){
        width: 100%;
        justify-content: flex-start;
    }
    @include max-media(768px){
        padding: 5px 0;
    }
    @include max-media(430px){
        padding-top: 0;
    }
}
.my-ads-info-btn{
    .main-btn-2{
        padding: 5px;
    }
}
.profile-lipstick{
    .contact-form{
        .name{
            padding-left: 15px;
            position: relative;
            &::before{
                content: '\f0da';
                font-family: FontAweSome;
                position: absolute;
                top: 0;
                left: 0;
                color: $main-color;
            }
            > span{
                font-weight: 500;
            }
        }
    }
}