@charset "UTF-8";
@import url(../fonts/Roboto/font.css);
@import url(../js/slick-1.8.1/slick-theme.css);
@import url(../js/slick-1.8.1/slick.css);
@import url(../js/Magnific-Popup-master/magnific-popup.css);
@import url(../js/select2js/dist/css/select2.min.css);
@import url(../js/lightGallery-master/dist/css/lightgallery.min.css);
@import url(../js/Font-awesome-4.7.0/css/font-awesome.min.css);
@import url(../js/dropzone-master/dropzone.css);
@import url(../js/WOW-master/animate.css);
@import url(../js/tooltipster-master/dist/css/tooltipster.bundle.min.css);
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background-color: #e84545;
  color: #fff;
}

::selection {
  background-color: #e84545;
  color: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  background-color: #f7f8f8;
  color: #53354a;
}

img,
iframe {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  outline: 0;
}

a:hover {
  color: #e84545;
}

.ratio-box {
  display: block;
  position: relative;
  padding-top: 100%;
  height: 0;
  overflow: hidden;
  background-color: #f6f6f6;
}

.ratio-box img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

.ratio-box iframe {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mona-content h1,
.mona-content h2,
.mona-content h3,
.mona-content h4,
.mona-content h5,
.mona-content h6 {
  line-height: 1.3;
  margin-bottom: 0.5em;
  margin-top: 0.6em;
}

.mona-content h1 {
  font-size: 1.7em;
}

.mona-content h2 {
  font-size: 1.6em;
}

.mona-content h3 {
  font-size: 1.25em;
}

.mona-content h4 {
  font-size: 1.125em;
}

.mona-content h5 {
  font-size: 1em;
}

.mona-content h6 {
  font-size: 0.85em;
}

.mona-content p {
  margin: 15px 0;
}

.mona-content ul,
.mona-content ol {
  margin: 15px 0;
  list-style-position: inside;
}

.mona-content ul ul,
.mona-content ul ol,
.mona-content ol ul,
.mona-content ol ol {
  margin-left: 15px;
}

.mona-content img,
.mona-content iframe {
  max-width: 100% !important;
  height: auto;
}

.table-responsive {
  max-width: 100%;
  overflow: auto;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.full-img img {
  display: block;
  width: 100%;
  height: auto;
}

.brightness-hover {
  position: relative;
  display: block;
}

.brightness-hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
}

.brightness-hover:hover::after {
  opacity: 1;
}

.container {
  width: 1200px;
  max-width: 100%;
  padding: 0 15px;
  margin: auto;
}

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.column {
  padding: 15px;
}

.hamburger-btn {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: relative;
}

.hamburger-btn .bar {
  width: 24px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #e84545;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 2px;
}

.hamburger-btn .bar::before, .hamburger-btn .bar::after {
  content: "";
  position: absolute;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #e84545;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 2px;
}

.hamburger-btn .bar::before {
  top: -6px;
}

.hamburger-btn .bar::after {
  top: 6px;
}

.hamburger-btn.active .bar {
  background-color: transparent;
}

.hamburger-btn.active .bar::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger-btn.active .bar::after {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.main-btn {
  display: inline-block;
  background-color: #e84545;
  color: #fff;
  padding: 8px 40px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: 0;
  border: 0;
  border-radius: 3px;
  font: inherit;
  cursor: pointer;
  font-weight: 500;
  min-width: 140px;
  text-align: center;
}

.main-btn .fa {
  margin-left: 5px;
}

.main-btn.full-btn {
  width: 100%;
}

.main-btn.alt {
  border: 1px solid #e84545;
  background-color: #fff;
  color: #e84545;
}

.main-btn.alt:hover {
  background-color: #e84545;
  color: #fff;
}

.main-btn.disabled, .main-btn.disabled:hover, .main-btn:disabled, .main-btn:disabled:hover {
  cursor: not-allowed;
  background-color: #d8d8d8;
  color: #9b9b9b;
}

.main-btn:hover {
  background-color: #b11616;
  color: #fff;
}

.f-control, .fcontrol {
  width: 100%;
  border: 1px solid #e1e1e1;
  background-color: #fff;
  padding: 0 20px;
  height: 45px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font: inherit;
  outline: 0;
  border-radius: 4px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.f-control::-webkit-input-placeholder, .fcontrol::-webkit-input-placeholder {
  color: rgba(83, 53, 74, 0.3);
}

.f-control:-ms-input-placeholder, .fcontrol:-ms-input-placeholder {
  color: rgba(83, 53, 74, 0.3);
}

.f-control::-ms-input-placeholder, .fcontrol::-ms-input-placeholder {
  color: rgba(83, 53, 74, 0.3);
}

.f-control::placeholder, .fcontrol::placeholder {
  color: rgba(83, 53, 74, 0.3);
}

.f-control:disabled, .fcontrol:disabled {
  cursor: not-allowed;
  background-color: #f8f8f8;
}

.f-control:focus, .fcontrol:focus {
  border-color: #e84545;
}

select.f-control, select.fcontrol {
  background: #f8f8f8 url(../images/select.png) right 15px center/8px no-repeat;
  padding-right: 30px;
}

textarea.f-control {
  display: block;
  height: 100px;
  padding: 12px 20px;
}

.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  min-height: 20px;
}

.custom-checkbox input {
  display: none;
}

.custom-checkbox input:hover ~ .checkmark {
  background-color: #e84545;
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: #e84545;
}

.custom-checkbox input:checked ~ .checkmark::after {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.custom-checkbox .checkmark {
  position: absolute !important;
  top: 1px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  color: #fff;
  line-height: 20px;
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.custom-checkbox .checkmark::after {
  content: "✔";
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: inherit;
  transition: inherit;
}

.scroll-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 998;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #e84545;
  border: 1px solid #e84545;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.scroll-top.show {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.scroll-top:hover {
  background-color: #fff;
  color: #e84545;
}

@media screen and (max-width: 768px) {
  .scroll-top {
    right: 15px;
    bottom: 15px;
  }
}

.text-wrapper p {
  margin: 10px 0;
}

.main-slider * {
  outline: none;
}

.main-slider:not(.slick-initialized) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-slider.slick-dotted {
  margin-bottom: 30px;
}

.main-slider.slick-dotted .slick-dots {
  line-height: 0;
  bottom: -30px;
}

.main-slider.slick-dotted .slick-dots li {
  width: auto;
  height: auto;
}

.main-slider.slick-dotted .slick-dots li button {
  padding: 0;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid #e84545;
  outline: 0;
}

.main-slider.slick-dotted .slick-dots li button::before {
  display: none;
}

.main-slider.slick-dotted .slick-dots li.slick-active button {
  background-color: #e84545;
}

.main-slider .slick-list {
  margin: -15px;
}

.main-slider .slide-item {
  outline: 0;
  padding: 15px;
}

.main-slider .main-slide-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 45px;
  height: 45px;
  border-radius: 100%;
  line-height: 45px;
  text-align: center;
  font-size: 16px;
  color: #e84545;
  background-color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 2;
  cursor: pointer;
}

.main-slider .main-slide-arrow.prev-arrow {
  left: 30px;
}

.main-slider .main-slide-arrow.next-arrow {
  right: 30px;
}

.main-slider .main-slide-arrow:hover {
  background-color: #e84545;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .main-slider .main-slide-arrow.prev-arrow {
    left: 15px;
  }
  .main-slider .main-slide-arrow.next-arrow {
    right: 15px;
  }
}

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.mfp-zoom-in .main-popup {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-zoom-in.mfp-ready .main-popup {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-zoom-in.mfp-removing .main-popup {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0;
}

.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

.main-popup {
  position: relative;
  width: 700px;
  max-width: 100%;
  background-color: #fff;
  margin: 40px auto;
  padding: 50px;
}

.main-popup .mfp-close {
  color: #e84545;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.lg-outer .lg-thumb-item:hover, .lg-outer .lg-thumb-item.active {
  border-color: #e84545;
}

.pagination {
  margin-top: 15px;
}

.pagination > ul {
  list-style-type: none;
}

.pagination > ul > li {
  display: inline-block;
}

.pagination > ul > li > .page-numbers {
  display: block;
  border: 1px solid #e1e1e1;
  background-color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 4px;
}

.pagination > ul > li > .page-numbers.current, .pagination > ul > li > .page-numbers:hover {
  color: #fff;
  background-color: #e84545;
}

@media screen and (max-width: 768px) {
  .pagination > ul > li > .page-numbers {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
}

.rating-stars {
  position: relative;
  vertical-align: middle;
  display: inline-block;
}

.rating-stars .empty-stars,
.rating-stars .filled-stars {
  text-shadow: none;
  width: 100%;
  white-space: nowrap;
}

.rating-stars .empty-stars {
  color: #e1e1e1;
}

.rating-stars .filled-stars {
  color: #f8bb15;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

.breadcrumb {
  list-style-type: none;
}

.breadcrumb li {
  display: inline-block;
}

.breadcrumb li + li::before {
  padding: 0 15px;
  content: "/\00a0";
}

@media screen and (max-width: 500px) {
  .breadcrumb li + li::before {
    padding: 0 10px;
  }
}

.social-nav {
  list-style-type: none;
}

.social-nav li {
  display: inline-block;
}

.social-nav li a {
  display: block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.social-nav-2 {
  list-style-type: none;
}

.social-nav-2 li {
  margin-right: 6px;
  display: inline-block;
}

.social-nav-2 li a {
  display: block;
}

.social-nav-2 li a .fa {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  line-height: 25px;
  text-align: center;
  color: #fff;
}

.social-nav-2 li a .fa.fa-facebook {
  background-color: #3b5998;
}

.social-nav-2 li a .fa.fa-twitter {
  background-color: #55acee;
}

.social-nav-2 li a .fa.fa-instagram {
  background-color: #6a453b;
}

.social-nav-2 li a .fa.fa-youtube-play {
  background-color: #c4302b;
}

.languager-picker-wrapper .languager-picker {
  display: inline-block;
  background-color: #f8f8f8;
  border: 1px solid #e1e1e1;
  border-radius: 30px;
  font-size: 11px;
  white-space: nowrap;
}

.languager-picker-wrapper .languager-picker .itm {
  display: inline-block;
  vertical-align: middle;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border-radius: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.languager-picker-wrapper .languager-picker span.itm {
  background-color: #e84545;
  color: #fff;
}

.daterangepicker {
  font-family: inherit;
}

.daterangepicker .calendar-table thead {
  text-transform: uppercase;
}

.daterangepicker .calendar-table td {
  font-size: 13px;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #e84545;
}

.sec {
  padding: 60px 0;
}

@media screen and (max-width: 768px) {
  .sec {
    padding: 40px 0;
  }
}

.grey-txt {
  color: #898989;
}

.hl-color {
  color: #e84545;
}

.open-video-popup-btn {
  display: block;
  position: relative;
}

.open-video-popup-btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4) url(../images/play.svg) center center/60px no-repeat;
}

.main-title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}

.main-title-box .main-title {
  margin-bottom: 0;
}

.main-title-box .readmore-btn {
  font-size: 15px;
}

.main-title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.4;
}

.readmore-btn {
  display: inline-block;
  font-weight: 500;
  color: #e84545;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  line-height: 1.2;
  border-bottom: 1px solid #e84545;
}

.page-title-section {
  padding: 10px 0 30px;
}

.page-title-section + .sec {
  padding-top: 0;
}

.page-title-section.pb-20 {
  padding-bottom: 20px;
}

.page-title-section .page-title {
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #e1e1e1;
}

.page-title-section .page-title .title {
  font-size: 32px;
  line-height: 1.2;
  font-weight: normal;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  padding-right: 30px;
}

@media screen and (max-width: 768px) {
  .page-title-section .page-title .title {
    font-size: 28px;
  }
}

.fw-500 {
  font-weight: 500;
}

.fw-normal {
  font-weight: normal;
}

.sm-title {
  font-weight: 500;
  color: #898989;
}

.mb-20 {
  margin-bottom: 20px;
}

.main-btn-2 {
  display: inline-block;
  color: #e84545;
}

.main-btn-2 .fa {
  margin-right: 5px;
}

.main {
  overflow: hidden;
}

.header {
  position: relative;
  padding: 15px 0 0;
  background-color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header.fixed {
  -webkit-box-shadow: 0px 3px 40px 0px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 3px 40px 0px rgba(0, 0, 0, 0.09);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 991px) {
  .header {
    padding: 10px 0;
  }
}

.is_admin .header.fixed {
  top: 32px;
}

@media screen and (max-width: 991px) {
  .is_admin .main-menu {
    top: 32px;
  }
}

@media screen and (max-width: 768px) {
  .is_admin .header.fixed {
    top: 46px;
  }
  .is_admin .main-menu {
    top: 46px;
  }
}

@media screen and (max-width: 600px) {
  .is_admin .header.fixed {
    top: 0;
  }
  .is_admin .header.fixed .main-menu {
    top: 0;
  }
}

.custom-logo-link {
  display: inline-block;
  margin-right: 100px;
  width: 75px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.custom-logo-link img {
  width: 100%;
  height: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .custom-logo-link {
    margin-right: 30px;
    width: 50px;
  }
}

.hd-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 940px;
  max-width: 100%;
}

.hd-user {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hd-user .hd-user-mess {
  font-size: 24px;
}

.hd-user .hd-user-mess a {
  display: inline-block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-right: 20px;
}

.hd-user .hd-user-mess a:last-child {
  margin-right: 0;
}

.hd-user .hd-user-login-register {
  font-size: 16px;
  margin-left: 30px;
}

.hd-user .hd-user-login-register a {
  display: inline-block;
  color: #e84545;
  font-weight: 500;
}

.hd-user .main-btn {
  margin-left: 30px;
}

@media screen and (max-width: 991px) {
  .hd-user {
    margin-bottom: 5px;
  }
  .hd-user .hd-user-mess {
    font-size: 20px;
  }
  .hd-user .hd-user-mess a {
    margin-right: 10px;
  }
  .hd-user .hd-user-login-register {
    margin-left: 15px;
  }
  .hd-user .main-btn {
    margin-left: 15px;
  }
}

@media screen and (max-width: 500px) {
  .hd-user .hd-user-mess {
    font-size: 16px;
  }
  .hd-user .hd-user-login-register {
    font-size: 13px;
    margin-left: 10px;
  }
  .hd-user .main-btn {
    min-width: 0;
    font-size: 13px;
    padding: 5px 20px;
  }
}

.hd-search-wrapper {
  width: 100%;
}

@media screen and (max-width: 991px) {
  .hd-search-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    z-index: 999;
    -webkit-box-shadow: 0px 3px 40px 0px rgba(0, 0, 0, 0.09);
            box-shadow: 0px 3px 40px 0px rgba(0, 0, 0, 0.09);
    padding: 10px 15px;
    background-color: #dbdbdb;
  }
}

.hd-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hd-search .f-group {
  width: calc(100% / 3);
}

.hd-search .f-group:first-child .f-control {
  border-radius: 4px 0 0 4px;
}

.hd-search .f-group:last-child {
  width: auto;
}

.hd-search .f-group .select2-container--default .select2-selection--single {
  height: 40px;
  border-radius: 0;
  border-right: 0;
  background-color: #f8f8f8;
}

.hd-search .f-group .select2-container--default .select2-selection--single.select-area-container .select2-selection__rendered {
  height: 40px;
  padding: 0 20px 0 40px;
  background: url(../images/select-area-icon.png) left 20px center/9px no-repeat;
}

.hd-search .f-group .select2-container--default .select2-selection--single.select-area-container .select2-selection__arrow {
  height: 40px;
  display: none;
}

.hd-search .f-group .select2-container--default .select2-selection--single .select2-selection__rendered {
  border-radius: 0;
}

.hd-search .f-group .f-control {
  height: 40px;
  background-color: #f8f8f8;
  border-radius: 0;
  border-right: 0;
}

.hd-search .f-group .f-control:focus {
  border-color: #e1e1e1;
}

.hd-search .hd-search-btn {
  border: 1px solid #e1e1e1;
  border-radius: 0 4px 4px 0;
  width: 40px;
  height: 40px;
  background-color: #ebebeb;
  color: #e84545;
  font: inherit;
  outline: 0;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.hd-search .hd-search-btn:hover {
  background-color: #e84545;
  border-color: #e84545;
  color: #ffff;
}

@media screen and (max-width: 991px) {
  .hd-search .f-group:first-child .f-control {
    border-radius: 0;
  }
}

@media screen and (max-width: 500px) {
  .hd-search {
    display: block;
  }
  .hd-search .f-group {
    width: 100%;
    margin-bottom: 5px;
  }
  .hd-search .f-group:last-child {
    width: 100%;
    margin-bottom: 0;
  }
  .hd-search .hd-search-btn {
    width: 100%;
    border-radius: 0;
    background-color: #e84545;
    border-color: #e84545;
    color: #fff;
  }
}

.mobile-btn-wrapper {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 991px) {
  .mobile-btn-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.show-hd-search-btn {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  color: #e84545;
  margin-left: 5px;
}

@media screen and (max-width: 991px) {
  .main-menu {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .main-menu.active {
    left: 0;
  }
}

.main-menu-nav {
  list-style-type: none;
  font-size: 15px;
}

.main-menu-nav > li {
  display: inline-block;
}

.main-menu-nav > li > a {
  display: block;
  padding: 18px 22px;
  border-bottom: 3px solid transparent;
}

.main-menu-nav > li:hover > a, .main-menu-nav > li.current-menu-item > a {
  border-color: #e84545;
}

.main-menu-nav > li.dropdown > a {
  position: relative;
  padding-right: 35px;
}

.main-menu-nav > li.dropdown > a::after {
  content: "\f107";
  font-family: FontAweSome;
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main-menu-nav > li.dropdown .mega-menu {
  width: 1170px;
  max-width: 100%;
  top: 100%;
  left: 50%;
  position: absolute;
  background-color: #fff;
  padding: 50px 300px 50px 55px;
  background-size: 25% auto;
  background-position: right 20px bottom 20px;
  background-repeat: no-repeat;
  border-top: 1px solid #e1e1e1;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.04);
  display: none;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  list-style-type: none;
}

.main-menu-nav > li.dropdown .mega-menu::after {
  content: "";
  display: table;
  clear: both;
}

.main-menu-nav > li.dropdown .mega-menu li {
  float: left;
  width: calc(100% / 3);
}

.main-menu-nav > li.dropdown .mega-menu li a {
  display: block;
  padding: 7px 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative;
}

.main-menu-nav > li.dropdown .mega-menu li a::before {
  content: "\f178";
  font-family: FontAweSome;
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #e84545;
  -webkit-transition: inherit;
  transition: inherit;
  opacity: 0;
}

.main-menu-nav > li.dropdown .mega-menu li a:hover {
  padding-left: 40px;
  color: #e84545;
}

.main-menu-nav > li.dropdown .mega-menu li a:hover::before {
  opacity: 1;
}

.main-menu-nav > li.dropdown .sub-menu {
  position: absolute;
  top: 100%;
  display: none;
  list-style-type: none;
  width: 200px;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.04);
  background-color: #fff;
}

.main-menu-nav > li.dropdown .sub-menu > li > a {
  display: block;
  padding: 10px 15px;
}

.main-menu-nav > li.dropdown:hover .mega-menu {
  display: block;
}

.main-menu-nav > li.dropdown:hover .sub-menu {
  display: block;
}

@media screen and (max-width: 991px) {
  .main-menu-nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: #fff;
    z-index: 2;
    padding: 20px 0 50px;
    overflow: auto;
  }
  .main-menu-nav > li {
    display: block;
  }
  .main-menu-nav > li > a {
    padding: 15px;
  }
  .main-menu-nav > li.dropdown .sub-menu {
    position: static;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
    background-color: transparent;
  }
  .main-menu-nav > li.dropdown .sub-menu > li > a {
    padding: 10px 15px 10px 40px;
  }
  .main-menu-nav > li.dropdown .mega-menu {
    width: 100%;
    position: static;
    padding: 0;
    background: none !important;
    border-top: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .main-menu-nav > li.dropdown .mega-menu::after {
    content: "";
    display: table;
    clear: both;
  }
  .main-menu-nav > li.dropdown .mega-menu li {
    float: none;
    width: 100%;
  }
  .main-menu-nav > li.dropdown .mega-menu li a {
    padding: 10px 15px 10px 40px;
  }
}

.main-menu-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

@media screen and (max-width: 991px) {
  .main-menu-overlay {
    display: block;
  }
}

.main-menu-btn {
  display: none;
}

@media screen and (max-width: 991px) {
  .main-menu-btn {
    display: block;
  }
}

.footer {
  background-color: #2b2e4a;
  color: #aaabb7;
  font-size: 15px;
}

.top-footer {
  padding: 50px 0 35px;
}

.top-footer .columns {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-footer .ft-title {
  font-size: 18px;
  line-height: 1.3;
  color: #fff;
  margin-bottom: 15px;
}

.top-footer .ft-menu {
  list-style-type: none;
}

.top-footer .ft-menu.ft-menu-2 {
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.top-footer .ft-menu li a {
  display: block;
  padding: 6px 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.top-footer .social-nav {
  margin-top: 15px;
  font-size: 13px;
  margin-left: -10px;
}

.top-footer .download-app a {
  display: block;
}

@media screen and (max-width: 768px) {
  .top-footer .column {
    width: 100%;
  }
  .top-footer .ft-title {
    margin-bottom: 10px;
  }
  .top-footer .ft-menu.ft-menu-2 {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

.copyright {
  padding: 25px 0;
  font-size: 13px;
}

.copyright a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

span.select2-container--default .select2-selection--single {
  height: 45px;
  background-color: #fff;
  outline: 0;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}

span.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 45px;
  padding: 0 40px 0 20px;
  color: #53354a;
  border-radius: 4px;
}

span.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 45px;
  top: 0;
  right: 15px;
  background: url(../images/select.png) center center/8px no-repeat;
}

span.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.home-page-wrapper {
  padding: 50px 0 60px;
}

.home-page-wrapper .left {
  width: calc(100% / 12 * 9);
}

.home-page-wrapper .left .sec {
  padding: 50px 0;
  padding-bottom: 0;
}

.home-page-wrapper .left .sec:first-child {
  padding-top: 0;
}

.home-page-wrapper .right {
  width: calc(100% / 12 * 3);
}

@media screen and (max-width: 991px) {
  .home-page-wrapper .left {
    width: 100%;
  }
  .home-page-wrapper .right {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .home-page-wrapper {
    padding: 40px 0 50px;
  }
}

.most-view-catalogs {
  padding: 12px 20px 20px;
  background-color: #fff;
  border-radius: 4px;
}

.most-view-catalogs-title {
  font-size: 20px;
  font-weight: normal;
  padding-bottom: 10px;
  border-bottom: 1px solid #e1e1e1;
}

.most-view-catalogs-nav {
  list-style-type: none;
  font-size: 15px;
  color: #903749;
  padding-top: 12px;
}

.most-view-catalogs-nav li a {
  display: block;
  padding: 8px 20px 8px 0;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.most-view-catalogs-nav li a::after {
  content: "\f105";
  font-family: FontAweSome;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.category-wrapper .columns {
  margin: -5px;
}

.category-wrapper .column {
  padding: 5px;
  width: 25%;
}

@media screen and (max-width: 500px) {
  .category-wrapper .column {
    width: 50%;
  }
}

.category-wrapper.category-wrapper-2 .column {
  width: calc(100% / 3);
}

@media screen and (max-width: 500px) {
  .category-wrapper.category-wrapper-2 .column {
    width: 100%;
  }
}

.category-item {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 4px;
  overflow: hidden;
}

.category-item .ratio-box {
  padding-top: 67%;
}

.category-item .ratio-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.category-item .category-title {
  font-size: 18px;
  line-height: 1.3;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 10px;
  text-align: center;
  color: #fff;
  z-index: 3;
}

.category-item:hover {
  -webkit-box-shadow: 0px 7px 40px 0px rgba(0, 0, 0, 0.22);
          box-shadow: 0px 7px 40px 0px rgba(0, 0, 0, 0.22);
}

.category-item:hover .ratio-box::after {
  background-color: rgba(232, 69, 69, 0.8);
}

.sort-post-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.sort-post-wrapper .get-the-last-news {
  font-size: 14px;
}

.sort-post-wrapper .get-the-last-news .checkmark {
  margin-right: 0;
  margin-left: 8px;
  background-color: #e1e1e1;
}

.post-wrapper {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}

.post-wrapper .post-wrapper-top {
  padding: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e1e1e1;
}

.post-wrapper .post-wrapper-bottom {
  border-top: 1px solid #e1e1e1;
  padding: 15px 20px;
  text-align: right;
}

.get-the-last-news {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  cursor: pointer;
}

.get-the-last-news input {
  display: none;
}

.get-the-last-news input:checked + .checkmark::before {
  left: 18px;
}

.get-the-last-news .checkmark {
  display: inline-block;
  width: 42px;
  height: 25px;
  background-color: #f8f8f8;
  border: 1px solid #e1e1e1;
  border-radius: 30px;
  position: relative;
  margin-right: 8px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.get-the-last-news .checkmark::before {
  content: "";
  width: 21px;
  height: 21px;
  background-color: #e84545;
  border-radius: 100%;
  position: absolute;
  top: 1px;
  left: 1px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media screen and (max-width: 430px) {
  .get-the-last-news {
    display: 100%;
    margin-bottom: 10px;
  }
}

.post-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.post-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  border-bottom: 1px solid #e1e1e1;
}

.post-item:last-child::before {
  display: none;
}

.post-item.post-item-highlight {
  background-color: #fff4cc;
}

.post-item.post-item-highlight::before {
  border-bottom-color: transparent;
}

.post-item.post-item-gap::after {
  content: "URGENT";
  position: absolute;
  top: 0;
  left: 0;
  width: 170px;
  padding: 10px;
  background-color: #f2c21a;
  color: #fff;
  font-size: 16px;
  text-align: center;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 50% 200%;
          transform-origin: 50% 200%;
}

.post-item .post-img {
  width: 30%;
  border-radius: 4px;
  overflow: hidden;
}

.post-item .post-img .ratio-box {
  padding-top: 66%;
}

.post-item .post-info {
  width: 52%;
  padding: 0 30px;
}

.post-item .post-info .post-title {
  font-size: 18px;
  line-height: 1.3;
  font-weight: normal;
  margin-bottom: 8px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.post-item .post-info .post-title a {
  -webkit-transition: inherit;
  transition: inherit;
}

.post-item .post-info .post-tag {
  font-size: 12px;
  font-weight: 500;
  border-radius: 4px;
  padding: 4px 13px;
  background-color: #f2c21a;
  color: #fff;
  margin-right: 10px;
}

.post-item .post-info .post-time {
  font-size: 13px;
  display: inline-block;
}

.post-item .post-info .post-time span {
  display: inline-block;
  padding: 0 8px;
  border-left: 1px solid #e1e1e1;
}

.post-item .post-info .post-time span:first-child {
  padding-left: 0;
  border-left: 0;
}

.post-item .post-info .post-desc {
  font-size: 15px;
  margin-bottom: 5px;
  margin-top: 8px;
}

.post-item .post-price {
  width: 18%;
  text-align: right;
}

.post-item .post-price .title {
  font-size: 13px;
  font-weight: 500;
}

.post-item .post-price .price {
  font-size: 28px;
  line-height: 1.2;
  color: #e84545;
}

.post-item .post-price .salary {
  font-size: 20px;
  line-height: 1.2;
  color: #e84545;
}

@media screen and (max-width: 500px) {
  .post-item .post-img {
    width: 100%;
  }
  .post-item .post-info {
    width: 100%;
    padding: 15px 0;
  }
  .post-item .post-price {
    width: 100%;
  }
  .post-item .post-price .price {
    font-size: 24px;
  }
}

@media screen and (min-width: 501px) {
  .post-wrapper-2 .post-item .post-img {
    width: 32%;
  }
  .post-wrapper-2 .post-item .post-info {
    width: 48%;
    padding: 0 15px;
  }
  .post-wrapper-2 .post-item .post-price {
    width: 20%;
  }
}

.register-post-content {
  background-size: cover;
  background-position: center center;
  padding: 35px 100px 45px;
  text-align: center;
  color: #fff;
  border-radius: 4px;
}

.register-post-content .desc {
  color: #b5b5bc;
  font-size: 15px;
  margin-bottom: 25px;
}

.register-post-content .main-btn {
  font-size: 16px;
}

@media screen and (max-width: 500px) {
  .register-post-content {
    padding: 30px;
  }
}

.breadcrumb-section {
  padding: 20px 0;
}

.contact-info-wrapper {
  margin-bottom: 35px;
}

.contact-info-wrapper .column {
  width: 25%;
  padding-left: 85px;
}

.contact-info-wrapper .column:nth-child(1) {
  width: 50%;
  padding-left: 15px;
}

@media screen and (max-width: 768px) {
  .contact-info-wrapper .column {
    width: 50%;
    padding-left: 15px;
  }
  .contact-info-wrapper .column:nth-child(1) {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .contact-info-wrapper .column {
    width: 100%;
  }
}

.contact-info-item .contact-info-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
}

.contact-info-item .contact-info-content {
  line-height: 1.6;
}

.contact-form-wrapper {
  width: 50%;
}

.contact-form-wrapper .main-title {
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .contact-form-wrapper {
    width: 100%;
  }
}

.contact-form {
  margin: -5px;
}

.contact-form::after {
  content: "";
  display: table;
  clear: both;
}

.contact-form .f-group {
  padding: 5px;
  width: 100%;
  float: left;
}

.contact-form .f-group:nth-child(2), .contact-form .f-group:nth-child(3) {
  width: 50%;
}

.contact-form .f-group .main-btn {
  float: right;
  height: 40px;
}

@media screen and (max-width: 500px) {
  .contact-form .f-group:nth-child(2), .contact-form .f-group:nth-child(3) {
    width: 100%;
  }
}

.share-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.share-wrapper .share-title {
  display: inline-block;
  margin-right: 20px;
}

@media screen and (max-width: 320px) {
  .share-wrapper {
    margin-top: 10px;
  }
}

.counter-results {
  color: #adaeae;
  font-size: 18px;
  line-height: 1.3;
}

@media screen and (max-width: 768px) {
  .counter-results {
    font-size: 16px;
  }
}

.nha-ban-section .columns {
  margin: -15px -7px;
}

.nha-ban-section .column {
  padding: 15px 7px;
}

.nha-ban-section .left {
  width: 27%;
  padding-top: 80px;
}

.nha-ban-section .right {
  width: 73%;
}

@media screen and (max-width: 768px) {
  .nha-ban-section .left {
    width: 100%;
    padding-top: 15px;
  }
  .nha-ban-section .right {
    width: 100%;
  }
}

.sidebar-filter-wrapper {
  margin-bottom: 15px;
}

.show-sidebar-filter-btn {
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  background-color: #fff;
  padding: 10px 40px 10px 20px;
  margin-bottom: 10px;
  font-weight: 500;
  display: none;
  position: relative;
}

.show-sidebar-filter-btn::after {
  content: "\f107";
  font-family: FontAweSome;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #e84545;
}

.show-sidebar-filter-btn .fa {
  margin-right: 8px;
}

.show-sidebar-filter-btn.active {
  background-color: #e84545;
  border-color: #e84545;
  color: #fff;
}

.show-sidebar-filter-btn.active::after {
  content: "\f106";
  color: #fff;
}

@media screen and (max-width: 768px) {
  .show-sidebar-filter-btn {
    display: block;
  }
}

.sidebar-filter {
  border: 1px solid #e1e1e1;
  background-color: #fff;
}

.sidebar-filter-head {
  border-bottom: 1px solid #e1e1e1;
  padding: 15px 20px;
}

.sidebar-filter-head .title {
  font-size: 16px;
  font-weight: 500;
}

.sidebar-filter-body {
  padding: 15px 20px;
}

@media screen and (max-width: 768px) {
  .sidebar-filter {
    display: none;
  }
}

.filter-item {
  padding: 15px 0;
  border-top: 1px solid #e1e1e1;
}

.filter-item:first-child {
  padding-top: 0;
  border-top: 0;
}

.filter-item .filter-title {
  color: #898989;
  padding: 10px 20px;
  font-weight: 500;
}

.filter-item .filter-content .filter-label {
  display: block;
  cursor: pointer;
  margin-bottom: 5px;
}

.filter-item .filter-content .filter-label input {
  display: none;
}

.filter-item .filter-content .filter-label input:checked + .checkmark {
  border-color: #ddd7db;
  background-color: #f8f8f8;
  font-weight: 500;
}

.filter-item .filter-content .filter-label input:checked + .checkmark::after {
  display: block;
}

.filter-item .filter-content .filter-label .checkmark {
  padding: 8px 50px 8px 20px;
  display: block;
  border: 1px solid transparent;
  border-radius: 4px;
  position: relative;
}

.filter-item .filter-content .filter-label .checkmark::after {
  content: "\f057";
  font-family: FontAweSome;
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: none;
}

.currency-range-picker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
}

.currency-range-picker .f-control {
  width: 70px;
  height: 37px;
  background-color: #f8f8f8;
  padding: 0 10px;
  text-align: center;
}

.currency-range-picker .f-control::-webkit-outer-spin-button, .currency-range-picker .f-control::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.currency-range-picker .f-control[type="number"] {
  -moz-appearance: textfield;
}

.currency-range-picker .space {
  padding: 0 8px;
}

.currency-range-picker .main-btn {
  background-color: #3cb878;
  color: #fff;
  padding: 9px 13px;
  margin-left: 8px;
  min-width: 0;
  font-style: 14px;
}

.currency-range-picker .main-btn:hover {
  background-color: #236b46;
}

.sidebar-upload-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #e1e1e1;
  background-color: #ffffff;
  padding: 20px;
}

.sidebar-upload-post .title {
  margin-right: 10px;
}

.sidebar-upload-post .main-btn {
  min-width: 0;
  padding: 8px 20px;
  font-weight: normal;
}

.sort-post {
  position: relative;
}

.sort-post > .title {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sort-post > .f-control {
  padding-left: 75px;
  padding-right: 45px;
  font-weight: 500;
  background: #ffff url(../images/select-2.png) right 20px center/9px no-repeat;
}

.nha-ban-detail-price {
  font-size: 32px;
  line-height: 1.2;
  color: #e84545;
}

@media screen and (max-width: 768px) {
  .nha-ban-detail-price {
    font-size: 28px;
  }
}

.nha-ban-detail-section {
  padding-bottom: 30px;
}

.nha-ban-detail-section .columns {
  margin: -15px -8px;
  display: block;
}

.nha-ban-detail-section .columns::after {
  content: "";
  display: table;
  clear: both;
}

.nha-ban-detail-section .column {
  padding: 15px 8px;
}

.nha-ban-detail-section .left {
  width: 73%;
  float: left;
}

.nha-ban-detail-section .right {
  width: 27%;
  float: right;
}

@media screen and (max-width: 768px) {
  .nha-ban-detail-section .left {
    width: 100%;
    float: none;
  }
  .nha-ban-detail-section .right {
    width: 100%;
    float: none;
  }
}

.product-detail-slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-detail-slider-wrapper .product-detail-slider {
  width: 76.6%;
  padding-right: 14px;
}

.product-detail-slider-wrapper .product-detail-slider .slick-list {
  margin: 0 -5px;
}

.product-detail-slider-wrapper .product-detail-slider .slide-item {
  padding: 0 5px;
}

.product-detail-slider-wrapper .product-detail-slider .slide-item .box-img {
  border-radius: 4px;
  overflow: hidden;
}

.product-detail-slider-wrapper .product-detail-slider .slide-item .box-img img {
  display: block;
  width: 100%;
  height: auto;
}

.product-detail-slider-wrapper .product-detail-slider-nav {
  width: 23.4%;
}

.product-detail-slider-wrapper .product-detail-slider-nav .slick-list {
  margin: -7px 0;
}

.product-detail-slider-wrapper .product-detail-slider-nav .slide-item {
  padding: 7px 0;
  cursor: pointer;
}

.product-detail-slider-wrapper .product-detail-slider-nav .slide-item .box-img {
  opacity: 0.7;
  border-radius: 4px;
  overflow: hidden;
}

.product-detail-slider-wrapper .product-detail-slider-nav .slide-item .box-img img {
  display: block;
  width: 100%;
  height: auto;
}

.product-detail-slider-wrapper .product-detail-slider-nav .slide-item.slick-current .box-img {
  opacity: 1;
}

@media screen and (max-width: 500px) {
  .product-detail-slider-wrapper {
    display: block;
  }
  .product-detail-slider-wrapper .product-detail-slider {
    width: 100%;
    padding-right: 0;
    margin-bottom: 8px;
  }
  .product-detail-slider-wrapper .product-detail-slider-nav {
    width: 100%;
  }
  .product-detail-slider-wrapper .product-detail-slider-nav .slick-list {
    margin: 0 -5px;
  }
  .product-detail-slider-wrapper .product-detail-slider-nav .slide-item {
    padding: 0 5px;
  }
}

.product-detail-utilities {
  padding: 22px 0;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  border-bottom: 1px solid #e1e1e1;
  width: 800px;
  max-width: 100%;
}

.product-detail-utilities.pt-0 {
  padding-top: 0;
}

.product-detail-utilities p {
  padding: 3px 0;
}

@media screen and (max-width: 430px) {
  .product-detail-utilities {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

.product-detail-desc {
  padding: 20px 0 0;
}

.product-detail-desc .text-wrapper {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .product-detail-desc .text-wrapper {
    font-size: 14px;
  }
}

.seen-post-section {
  padding: 30px 0 60px;
  position: relative;
}

.seen-post-section .main-title {
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 500;
}

.seen-post-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1170px;
  max-width: calc(100% - 30px);
  border-top: 1px solid #e1e1e1;
}

@media screen and (max-width: 768px) {
  .seen-post-section {
    padding: 30px 0 40px;
  }
  .seen-post-section .main-title {
    margin-bottom: 15px;
  }
}

.seen-post-wrapper .columns {
  margin: -8px;
}

.seen-post-wrapper .column {
  width: 25%;
  padding: 8px;
}

@media screen and (max-width: 991px) {
  .seen-post-wrapper .column {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .seen-post-wrapper .column {
    width: 100%;
  }
}

.seen-post-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 20px 20px 15px;
  border: 1px solid #e1e1e1;
  background-color: #fff;
  position: relative;
  border-radius: 4px;
}

.seen-post-item .seen-post-img {
  width: 44%;
  border-radius: 4px;
  overflow: hidden;
}

.seen-post-item .seen-post-img .ratio-box {
  padding-top: 66%;
}

.seen-post-item .seen-post-info {
  width: 56%;
  padding-left: 11px;
}

.seen-post-item .seen-post-info .seen-post-title {
  font-weight: normal;
  margin-bottom: 5px;
  line-height: 1.3;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  height: auto;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.seen-post-item .seen-post-info .seen-post-title a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.seen-post-item .seen-post-info .seen-post-price {
  color: #e84545;
}

.seen-post-item .seen-post-info .seen-post-clear-btn {
  color: #898989;
  position: absolute;
  top: 14px;
  right: 10px;
  cursor: pointer;
}

.product-detail-location {
  position: relative;
  padding-left: 40px;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 25px;
}

.product-detail-location .post-time {
  color: #898989;
}

.product-detail-location::before {
  content: url(../images/location-icon.png);
  position: absolute;
  left: 0;
  top: 3px;
}

.product-detail-author .author-info {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-detail-author .author-info .avatar {
  width: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.product-detail-author .author-info .avatar img {
  display: block;
  width: 100%;
  height: auto;
}

.product-detail-author .author-info .info {
  padding-left: 15px;
}

.product-detail-author .author-info .info .name {
  font-weight: 500;
}

.mess-to-author-wrapper {
  border: 1px solid #e1e1e1;
  background-color: #fff;
  padding: 25px 20px;
  border-radius: 4px;
}

.mess-to-author-wrapper .title {
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 12px;
}

.mess-to-author-wrapper .mess-to-author-form {
  margin-bottom: 20px;
}

.mess-to-author-wrapper .mess-to-author-form .f-control {
  margin-bottom: 20px;
}

.mess-to-author-wrapper .mess-to-author-form .main-btn {
  height: 45px;
}

.mess-to-author-wrapper .term {
  font-size: 12px;
}

.dropzone-wrapper {
  margin-bottom: 20px;
}

.dropzone-wrapper .dropzone {
  border: 1px solid #e1e1e1;
  min-height: 100px;
  border-radius: 4px;
  position: relative;
}

.dropzone-wrapper .dropzone .dz-message {
  background-image: url(../images/dropzone.png);
  background-position: center center;
  background-size: auto;
  background-repeat: no-repeat;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dropzone-wrapper .dropzone .dz-preview .dz-remove {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 999;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background-color: #252525;
  color: #fff;
  border-radius: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 0;
  cursor: pointer;
  text-decoration: none;
}

.dropzone-wrapper .dropzone .dz-preview .dz-remove::after {
  content: "\f00d";
  font-size: 14px;
  font-family: FontAweSome;
}

.about-us-section .left {
  width: calc(100% / 12 * 3);
}

.about-us-section .right {
  width: calc(100% / 12 * 9);
}

@media screen and (max-width: 768px) {
  .about-us-section .left {
    width: 100%;
  }
  .about-us-section .right {
    width: 100%;
  }
}

.about-company {
  font-size: 16px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e1e1e1;
}

.about-company > img {
  margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .about-company {
    font-style: 14px;
    padding-bottom: 20px;
  }
}

.direct-nav {
  list-style-type: none;
  padding-top: 30px;
  font-size: 18px;
}

.direct-nav li a {
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 4px 0;
  position: relative;
}

.direct-nav li a:after {
  content: "\f178";
  font-family: FontAweSome;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
}

.direct-nav li.active a {
  padding-left: 30px;
  color: #e84545;
  font-weight: 500;
}

.direct-nav li.active a::after {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .direct-nav {
    padding-top: 20px;
    font-size: 16px;
  }
}

.partner-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partner-list li {
  width: 174px;
  max-width: 50%;
  padding: 25px 20px;
}

.partner-list li img {
  display: block;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .partner-list li {
    padding: 20px 10px;
  }
}

.mona-content.lg-mona-content {
  font-weight: 300;
  font-size: 24px;
}

.mona-content.lg-mona-content p {
  margin: 25px 0;
}

@media screen and (max-width: 991px) {
  .mona-content.lg-mona-content {
    font-size: 20px;
  }
  .mona-content.lg-mona-content p {
    margin: 15px 0;
  }
}

@media screen and (max-width: 768px) {
  .mona-content.lg-mona-content {
    font-size: 16px;
  }
}

.filter-content {
  max-height: 400px;
  overflow: auto;
}

.filter-content::-webkit-scrollbar {
  width: 5px;
}

.filter-content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.filter-content::-webkit-scrollbar-thumb {
  background: #888;
}

.filter-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.show-more-filter-btn {
  color: #e84545;
  font-weight: 500;
  display: inline-block;
  cursor: pointer;
  padding: 8px 20px;
}

.show-more-filter-btn::after {
  content: "\f107";
  font-family: FontAweSome;
  margin-left: 8px;
  vertical-align: middle;
}

.dang-tin-section {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .dang-tin-section {
    font-size: 14px;
  }
}

.dang-tin-wrapper {
  padding: 50px 0;
  width: 500px;
  max-width: 100%;
  margin: auto;
  font-size: 16px;
}

.select-title-form .f-group {
  position: relative;
  margin-bottom: 10px;
}

.select-title-form .f-group .f-control {
  height: 80px;
  padding-bottom: 30px;
}

.select-title-form .f-group label {
  margin-bottom: 5px;
  font-weight: 500;
  display: inline-block;
}

.select-title-form .f-group .key-counter {
  position: absolute;
  padding: 10px;
  bottom: 0;
  right: 0;
}

.select-category {
  margin-top: 30px;
  padding-top: 30px;
  display: none;
  border-top: 1px solid #e1e1e1;
}

.select-category-nav {
  list-style-type: none;
}

.select-category-nav li + li {
  margin-top: -1px;
}

.select-category-nav li label {
  display: block;
  padding: 15px 20px;
  background-color: #fff;
  position: relative;
  border: 1px solid #e1e1e1;
  cursor: pointer;
  position: relative;
}

.select-category-nav li label::after {
  content: "\f105";
  font-family: FontAweSome;
  position: absolute;
  top: 50%;
  right: 10px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 20px;
}

.select-category-nav li label.have-sub::after {
  content: "×";
  display: none;
  font-family: inherit;
}

.select-category-nav li label.have-sub.show-sub::after {
  display: block;
}

.select-category-nav li label input {
  display: none;
}

.select-category-nav li label .close-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 20px;
  pointer-events: auto;
}

.select-category-nav .sub-menu {
  margin-top: 15px;
  list-style-type: none;
  display: none;
}

.dang-tin-detail-wrapper {
  counter-reset: section;
}

.dang-tin-detail-box {
  background-color: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-bottom: 30px;
}

.dang-tin-detail-box:last-child {
  margin-bottom: 0;
}

.dang-tin-detail-box-title {
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e1e1e1;
  font-size: 16px;
}

.dang-tin-detail-box-title::before {
  counter-increment: section;
  content: counter(section);
  width: 22px;
  height: 22px;
  border-radius: 100%;
  line-height: 22px;
  text-align: center;
  background-color: #e84545;
  color: #fff;
  margin-right: 8px;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .dang-tin-detail-box {
    padding: 20px;
    margin-bottom: 20px;
  }
}

.dang-tin-detail-box-content .image-content {
  width: 500px;
  max-width: 100%;
  margin-bottom: 20px;
}

.dang-tin-detail-box-content .upload-images {
  padding: 20px;
  background-color: #eeedee;
  margin-bottom: 20px;
}

.dang-tin-detail-box-content .upload-images .dropzone {
  border: 1.2px dashed #bebebe;
  color: #979797;
  background-color: transparent;
  min-height: 270px;
}

.dang-tin-detail-box-content .upload-images .dropzone .dz-message {
  margin: 38px 0;
}

.dang-tin-detail-box-content .upload-images .dropzone .dz-message h3 {
  display: block;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
  margin: 15px 0;
}

.dang-tin-detail-box-content .upload-images .dropzone .dz-preview .dz-remove {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 999;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background-color: #252525;
  color: #fff;
  border-radius: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 0;
  cursor: pointer;
  text-decoration: none;
}

.dang-tin-detail-box-content .upload-images .dropzone .dz-preview .dz-remove::after {
  content: "\f00d";
  font-size: 14px;
  font-family: FontAweSome;
}

.dang-tin-detail-box-content > .map {
  padding-top: 50%;
}

.dang-tin-detail-box-content .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.dang-tin-detail-box-content .box:last-child {
  margin-bottom: 0;
}

.dang-tin-detail-box-content .box > label {
  width: 200px;
  display: inline-block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-align: right;
  padding: 5px 20px 5px 0;
  font-weight: 500;
}

.dang-tin-detail-box-content .box > .f-group {
  padding: 5px 0;
  width: 65%;
}

.dang-tin-detail-box-content .box > .f-group > #price-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.dang-tin-detail-box-content .box > .f-group > .custom-checkbox {
  margin-bottom: 10px;
}

.dang-tin-detail-box-content .box > .f-group > .custom-checkbox:last-child {
  margin-bottom: 0;
}

.dang-tin-detail-box-content .box > .f-group > .desc {
  font-size: 14px;
  margin: 5px 0;
}

.dang-tin-detail-box-content .box > .f-group #website-url-input {
  display: none;
}

.dang-tin-detail-box-content .box > .f-group #tag-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dang-tin-detail-box-content .box > .f-group #tag-input .main-btn {
  margin-left: 10px;
  height: 45px;
  line-height: 45px;
  padding: 0 40px;
}

@media screen and (max-width: 768px) {
  .dang-tin-detail-box-content .box > .f-group #tag-input {
    display: block;
  }
  .dang-tin-detail-box-content .box > .f-group #tag-input .main-btn {
    margin-top: 10px;
    margin-left: 0;
    width: 100%;
  }
}

.dang-tin-detail-box-content .box > .f-group #tag-list {
  list-style-type: none;
  margin-top: 10px;
}

.dang-tin-detail-box-content .box > .f-group #tag-list li {
  display: inline-block;
  margin: 0 4px 4px 0;
  border-radius: 4px;
  background-color: #e1e1e1;
  padding: 8px 20px;
}

.dang-tin-detail-box-content .box > .f-group #tag-list:empty {
  display: none;
}

@media screen and (max-width: 768px) {
  .dang-tin-detail-box-content .box {
    display: block;
    margin-bottom: 10px;
  }
  .dang-tin-detail-box-content .box > label {
    text-align: left;
    width: 100%;
  }
  .dang-tin-detail-box-content .box > .f-group {
    width: 100%;
  }
}

.promote-my-ad .left {
  width: 100%;
}

.promote-my-ad .right {
  width: calc(100% / 12 * 4);
}

.promote-my-ad .total-price {
  text-align: right;
}

.promote-my-ad .total-price .price {
  color: #e84545;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .promote-my-ad .left {
    width: 100%;
  }
  .promote-my-ad .right {
    width: 100%;
  }
}

.add-ad-to-slider {
  padding: 0 50px 30px;
}

.add-ad-to-slider .main-slide-arrow.prev-arrow {
  left: 15px;
}

.add-ad-to-slider .main-slide-arrow.next-arrow {
  right: 15px;
}

@media screen and (max-width: 768px) {
  .add-ad-to-slider {
    padding: 0 40px 15px;
  }
}

.add-ad-to-note {
  font-size: 13px;
}

.add-ad-to-item .add-ad-to-img {
  width: 100px;
  max-width: 100%;
  margin: 0 auto 20px;
}

.add-ad-to-item .add-ad-to-img img {
  display: block;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .add-ad-to-item .add-ad-to-img {
    margin: 0 auto 10px;
  }
}

.add-ad-to-item .add-ad-to-info {
  text-align: center;
}

.add-ad-to-item .add-ad-to-info .add-ad-to-title {
  font-size: 16px;
  margin-bottom: 10px;
}

.add-ad-to-item .add-ad-to-info .main-btn {
  min-width: 160px;
}

.add-ad-to-item .add-ad-to-info .main-btn.active {
  background-color: #37a864;
  color: #fff;
}

.add-ad-to-table {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e1e1e1;
}

@media screen and (max-width: 500px) {
  .add-ad-to-table {
    overflow-x: auto;
  }
}

.add-ad-to-table table {
  width: 100%;
  border-collapse: collapse;
  min-width: 400px;
}

.add-ad-to-table table td {
  padding: 10px;
  text-align: right;
}

.add-ad-to-table table td:first-child {
  width: 60%;
  text-align: left;
}

.add-ad-to-table .custom-checkbox .checkmark {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.add-ad-to-table .custom-checkbox .tt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

.add-ad-to-table .custom-checkbox .tt img {
  width: 50px;
  display: block;
  margin-right: 10px;
}

.add-ad-to-table .custom-checkbox .tt .fa {
  margin-left: 5px;
}

.add-ad-to-table select.f-control {
  width: 120px;
}

.add-ad-to-table .price {
  color: #e84545;
  font-weight: 500;
}

.post-your-ad .post-your-ad-policy {
  margin-bottom: 10px;
}

#mona-login-form,
#mona-register-popup {
  width: 500px;
  max-width: 100%;
  margin-bottom: 30px;
}

#mona-login-form .frow,
#mona-register-popup .frow {
  margin-bottom: 10px;
}

#mona-login-form .frow:last-child,
#mona-register-popup .frow:last-child {
  margin-bottom: 0;
}

#mona-login-form .foget-pass-link,
#mona-register-popup .foget-pass-link {
  margin-top: 10px;
}

.checklb {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  min-height: 20px;
}

.checklb input {
  display: none;
}

.checklb input:hover ~ .ip-avata {
  background-color: #e84545;
}

.checklb input:checked ~ .ip-avata {
  background-color: #e84545;
}

.checklb input:checked ~ .ip-avata::after {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.checklb .ip-avata {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.checklb .ip-avata::after {
  content: "✔";
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: inherit;
  transition: inherit;
}

.mona-logout-action::before {
  content: "-";
  margin: 0 10px 0 6px;
}

.pick-your-plan-wrapper {
  margin-bottom: 45px;
}

.pick-your-plan-wrapper .columns {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pick-your-plan-wrapper .column {
  position: relative;
  padding-top: 60px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 991px) {
  .pick-your-plan-wrapper .column {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .pick-your-plan-wrapper .column {
    width: 100%;
    padding-top: 15px;
  }
}

.pick-your-plan-wrapper .most-popular {
  padding: 15px 20px;
  background-color: #e0e0e0;
  border-radius: 4px 4px 0 0;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  position: absolute;
  bottom: calc(100% - 60px);
  left: 15px;
  right: 15px;
}

@media screen and (max-width: 768px) {
  .pick-your-plan-wrapper .most-popular {
    position: static;
  }
}

.pick-your-plan-item {
  text-align: center;
  background-color: #f1f1f1;
  position: relative;
  padding: 40px 30px 100px;
  height: 100%;
  border-top: 5px solid;
  border-radius: 4px;
}

.column:nth-child(4n + 1) .pick-your-plan-item {
  border-top-color: #f8aa17;
}

.column:nth-child(4n + 1) .pick-your-plan-item .most-popular {
  border-bottom-color: #f8aa17;
}

.column:nth-child(4n + 2) .pick-your-plan-item {
  border-top-color: #2681db;
}

.column:nth-child(4n + 2) .pick-your-plan-item .most-popular {
  border-bottom-color: #2681db;
}

.column:nth-child(4n + 3) .pick-your-plan-item {
  border-top-color: #373373;
}

.column:nth-child(4n + 3) .pick-your-plan-item .most-popular {
  border-bottom-color: #373373;
}

.column:nth-child(4n + 4) .pick-your-plan-item {
  border-top-color: #e84545;
}

.column:nth-child(4n + 4) .pick-your-plan-item .most-popular {
  border-bottom-color: #e84545;
}

.most-popular + .pick-your-plan-item {
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 5px 30px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 30px 2px rgba(0, 0, 0, 0.2);
}

.pick-your-plan-item .head {
  min-height: 240px;
  position: relative;
  margin-bottom: 40px;
  padding-bottom: 100px;
}

.pick-your-plan-item .head .title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
  line-height: 1.2;
}

.pick-your-plan-item .head .sub-title {
  color: #8e909b;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
}

.pick-your-plan-item .head .price {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.pick-your-plan-item .head .price .price-from {
  margin-bottom: 5px;
}

.pick-your-plan-item .head .price .price-detail {
  display: inline-block;
  padding: 5px 15px;
  font-weight: 500;
  font-size: 14px;
  background-color: #daefdf;
  color: #215934;
  border-radius: 4px;
}

.pick-your-plan-item .nav {
  list-style-type: none;
  text-align: left;
}

.pick-your-plan-item .nav li {
  padding: 8px 0 8px 20px;
  position: relative;
  border-bottom: 1px solid #e1e1e1;
}

.pick-your-plan-item .nav li::before {
  content: "✔";
  position: absolute;
  top: 5px;
  left: 0;
  color: #37a864;
}

.pick-your-plan-item .btn {
  display: block;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 30px;
  right: 30px;
  bottom: 30px;
}

.pick-your-plan-item .btn input {
  display: none;
}

.pick-your-plan-item .btn input:checked ~ .checkmark {
  background-color: #fff;
  color: #e84545;
}

.pick-your-plan-item .btn input:checked ~ .checkmark::after {
  content: "Selected";
}

.pick-your-plan-item .btn input:checked ~ .checkmark::before {
  opacity: 1;
}

.pick-your-plan-item .btn .checkmark {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background-color: #e84545;
  border: 1px solid #e84545;
  color: #fff;
  display: block;
  line-height: 40px;
  text-align: center;
}

.pick-your-plan-item .btn .checkmark::after {
  content: "Select";
}

.pick-your-plan-item .btn .checkmark::before {
  content: "✔";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 20px;
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .pick-your-plan-item {
    height: auto;
  }
  .pick-your-plan-item .head {
    min-height: 0;
    padding-bottom: 0;
  }
  .pick-your-plan-item .head .desc {
    margin-bottom: 20px;
    font-size: 15px;
  }
  .pick-your-plan-item .head .price {
    position: static;
    font-size: 15px;
  }
}

@media screen and (min-width: 992px) {
  .header.fixed {
    padding: 0;
  }
  .header.fixed .container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header.fixed .custom-logo-link {
    width: 50px;
    padding: 10px 0;
  }
  .header.fixed .hd-right .hd-user {
    display: none;
  }
  .header.fixed .hd-right .hd-search-wrapper {
    display: none;
  }
  .header.fixed .main-menu-nav li a {
    padding: 30px 22px;
  }
  .header.fixed .main-menu-nav li.dropdown a {
    padding-right: 35px;
  }
}

/* home page: add style for highlight list  */
.post-wrapper .post-list {
  padding: 0px 15px;
  padding-top: 15px;
}

.post-wrapper .post-list .post-item.post-item-highlight {
  margin-bottom: 15px;
}

.post-item.post-item-highlight {
  background-color: #fff4cc;
  border: solid 2px #f2c21a;
}

.post-wrapper + hr {
  margin: 15px 0;
}

.profile-lipstick .left > h3 {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 10px;
}

.contact-form .f-group > label {
  display: block;
}

.info-item .contact-form {
  margin: -10px;
}

.dropzone {
  border: 1.5px dashed #e1e1e1;
}

.dropzone .dz-message > h3 {
  font-size: 12px;
}

.category-wrapper .main-slider {
  margin: 0;
}

.category-wrapper .main-slider.slick-dotted {
  margin-bottom: 60px;
}

.category-wrapper .main-slider .slick-list {
  margin: -5px;
}

.category-wrapper .main-slider .column-4 {
  padding: 5px;
}

.tab-filter-wrapper {
  margin-bottom: 30px;
  position: relative;
  padding: 0 280px;
}

.tab-filter-wrapper .tab-link-nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tab-filter-wrapper .tab-link-nav li {
  padding: 11.5px 30px;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  position: relative;
  cursor: pointer;
}

.tab-filter-wrapper .tab-link-nav li + li {
  border-left: 0;
}

.tab-filter-wrapper .tab-link-nav li > span {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 100%;
  background-color: #ececee;
  margin-left: 10px;
}

.tab-filter-wrapper .tab-link-nav li::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  border-bottom: 3px solid #e84545;
  opacity: 0;
}

.tab-filter-wrapper .tab-link-nav li.current::before {
  opacity: 1;
}

.tab-filter-wrapper .tab-search {
  position: absolute;
  top: 0;
  left: 0;
  width: 265px;
}

.tab-filter-wrapper .tab-search .f-control {
  padding-right: 50px;
}

.tab-filter-wrapper .tab-search .btn {
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border-radius: 0;
  border: 0;
  cursor: pointer;
  font: inherit;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  position: absolute;
  top: 0;
  right: 0;
}

.tab-filter-wrapper .tab-search .btn:hover {
  color: #e84545;
}

@media screen and (max-width: 768px) {
  .tab-filter-wrapper {
    padding: 0;
  }
  .tab-filter-wrapper .tab-link-nav {
    width: 100%;
  }
  .tab-filter-wrapper .tab-link-nav li {
    width: 50%;
  }
  .tab-filter-wrapper .tab-search {
    width: 100%;
    margin-top: 15px;
    position: relative;
    top: unset;
    left: unset;
  }
}

.my-account-section .left {
  width: calc(100% / 12 * 3);
}

.my-account-section .right {
  width: calc(100% / 12 * 9);
}

@media screen and (max-width: 768px) {
  .my-account-section .left {
    width: 100%;
  }
  .my-account-section .right {
    width: 100%;
  }
}

.account-sidebar {
  text-align: center;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.account-sidebar-head {
  height: 64px;
  background-color: #e84545;
  border-radius: 4px 4px 0 0;
  position: relative;
}

.account-sidebar-head .account-avatar {
  width: 72px;
  height: 72px;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  border-radius: 100%;
  overflow: hidden;
}

.account-sidebar-head .account-avatar img {
  width: 100%;
  height: auto;
}

.account-sidebar-body {
  padding: 50px 0 15px;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-top: 0;
  border-radius: 0 0 4px 4px;
}

.account-sidebar-body .account-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.account-sidebar-body .edit-account-btn {
  display: inline-block;
  color: #2681db;
}

.account-sidebar-body .edit-account-btn .fa {
  margin-right: 5px;
}

.account-sidebar-body .account-info {
  padding: 0 15px 15px;
}

.account-sidebar-body .account-info-nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.account-sidebar-body .account-info-nav li {
  width: calc(100% / 3);
  border-right: 1px solid #eee;
  padding: 0 14px;
}

.account-sidebar-body .account-info-nav li:last-child {
  border-right: 0;
}

.account-sidebar-body .account-info-nav li .content {
  font-size: 16px;
}

.account-sidebar-body .account-info-nav li .title {
  font-size: 13px;
}

.my-account-nav-wrapper {
  padding: 15px 0;
  background-color: #fff;
  border-top: 1px solid #ececee;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.my-account-nav-wrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.my-account-nav-wrapper .account-setting-btn {
  padding: 5px 15px;
}

.my-account-nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.my-account-nav li {
  border-right: 1px solid #ececee;
}

.my-account-nav li:last-child {
  border-right: 0;
}

.my-account-nav li a {
  display: block;
  padding: 5px 15px;
}

.my-account-nav li.active a {
  color: #e84545;
}

@media screen and (max-width: 768px) {
  .my-account-nav {
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 500px) {
  .my-account-nav li {
    width: calc(100% / 3);
  }
}

@media screen and (max-width: 375px) {
  .my-account-nav li {
    width: 50%;
  }
}

.my-ads-item {
  padding: 30px;
  padding-left: 185px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #fff;
  border-bottom: 1px solid #e1e1e1;
  position: relative;
}

.my-ads-item .my-ads-img {
  width: 140px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.my-ads-item .my-ads-img a {
  display: block;
}

.my-ads-item .my-ads-img a img {
  display: block;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .my-ads-item {
    padding: 20px;
  }
  .my-ads-item .my-ads-img {
    position: static;
  }
}

@media screen and (max-width: 430px) {
  .my-ads-item .my-ads-img {
    width: 100%;
  }
}

.my-ads-head {
  padding: 10px 30px;
  padding-left: 185px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.my-ads-head .my-ads-info-nav .title {
  font-size: initial;
  font-weight: inherit;
  color: inherit;
}

.my-ads-head .my-ads-info-nav .price {
  font-weight: inherit;
  color: inherit;
}

@media screen and (max-width: 991px) {
  .my-ads-head {
    display: none;
  }
}

.my-ads-info-nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-ads-info-nav li {
  padding: 5px;
}

.my-ads-info-nav li > .fa {
  margin-right: 5px;
  display: none;
}

@media screen and (max-width: 991px) {
  .my-ads-info-nav li > .fa {
    display: inline-block;
  }
}

.my-ads-info-nav .title {
  font-size: 18px;
  font-weight: 500;
  color: #e84545;
  width: 60%;
  line-height: 1.2;
}

.my-ads-info-nav .price {
  color: #37a864;
  font-weight: 600;
  max-width: 100px;
  width: 40%;
}

.my-ads-info-nav .expires {
  width: 25%;
}

.my-ads-info-nav .expires .date-1 {
  font-size: 16px;
  font-weight: 600;
}

.my-ads-info-nav .expires .date-2 {
  color: #8e909b;
}

.my-ads-info-nav .views, .my-ads-info-nav .replies, .my-ads-info-nav .page {
  width: 15%;
  text-align: center;
}

.my-ads-info-nav .button {
  width: 30%;
  text-align: right;
}

.my-ads-info-nav .button .main-btn {
  padding: 8px 15px;
}

@media screen and (max-width: 991px) {
  .my-ads-info-nav .title {
    width: auto;
    padding-right: 30px;
  }
  .my-ads-info-nav .price {
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .my-ads-info-nav .title {
    width: 100%;
  }
  .my-ads-info-nav .price {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .my-ads-info-nav .expires {
    width: 50%;
  }
  .my-ads-info-nav .views, .my-ads-info-nav .replies, .my-ads-info-nav .page {
    width: 50%;
    text-align: left;
  }
  .my-ads-info-nav .button {
    width: 100%;
    text-align: left;
  }
}

.my-ads-info-nav-1 {
  width: 40%;
}

@media screen and (max-width: 991px) {
  .my-ads-info-nav-1 {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .my-ads-info-nav-1 {
    width: calc(100% - 140px);
    padding-left: 15px;
  }
}

@media screen and (max-width: 430px) {
  .my-ads-info-nav-1 {
    width: 100%;
    padding-top: 10px;
    padding-left: 0;
  }
}

.my-ads-info-nav-2 {
  width: 60%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 991px) {
  .my-ads-info-nav-2 {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (max-width: 768px) {
  .my-ads-info-nav-2 {
    padding: 5px 0;
  }
}

@media screen and (max-width: 430px) {
  .my-ads-info-nav-2 {
    padding-top: 0;
  }
}

.my-ads-info-btn .main-btn-2 {
  padding: 5px;
}

.profile-lipstick .contact-form .name {
  padding-left: 15px;
  position: relative;
}

.profile-lipstick .contact-form .name::before {
  content: '\f0da';
  font-family: FontAweSome;
  position: absolute;
  top: 0;
  left: 0;
  color: #e84545;
}

.profile-lipstick .contact-form .name > span {
  font-weight: 500;
}
